body {
  margin:0px;
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:110px;
  width:940px;
  height:100px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:715px;
  width:960px;
  height:199px;
  color:#6E787A;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:199px;
}
#u3 {
  position:absolute;
  left:2px;
  top:92px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:824px;
  top:750px;
  width:125px;
  height:102px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u5 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:826px;
  top:864px;
  width:124px;
  height:17px;
  color:#6E787A;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:760px;
  width:730px;
  height:90px;
  color:#6E787A;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:726px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:700px;
  width:960px;
  height:15px;
  color:#6E787A;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:15px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:21px;
  top:826px;
  width:40px;
  height:17px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:-26px;
  top:2716px;
  width:320px;
  height:442px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:442px;
}
#u15 {
  position:absolute;
  left:2px;
  top:213px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:59px;
  top:2978px;
  width:125px;
  height:102px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u17 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:61px;
  top:3092px;
  width:124px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:-6px;
  top:2728px;
  width:290px;
  height:230px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:230px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:-26px;
  top:2703px;
  width:320px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:-5px;
  top:2831px;
  width:40px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:922px;
  width:960px;
  height:199px;
  color:#6E787A;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:199px;
}
#u27 {
  position:absolute;
  left:2px;
  top:92px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:824px;
  top:948px;
  width:125px;
  height:102px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u29 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:826px;
  top:1062px;
  width:124px;
  height:17px;
  color:#6E787A;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:20px;
  top:967px;
  width:730px;
  height:90px;
  color:#6E787A;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:90px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-68px;
  width:726px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:907px;
  width:960px;
  height:15px;
  color:#6E787A;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:15px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:21px;
  top:1016px;
  width:40px;
  height:17px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u37 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:20px;
  top:230px;
  width:460px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:40px;
}
#u39 {
  position:absolute;
  left:0px;
  top:-8px;
  width:458px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:560px;
  top:10px;
  width:390px;
  height:33px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:33px;
}
#u44 {
  position:absolute;
  left:6px;
  top:0px;
  width:382px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u50 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u56 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:20px;
  top:64px;
  width:300px;
  height:66px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
}
#u60 {
  position:absolute;
  left:6px;
  top:2px;
  width:292px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:480px;
  top:10px;
  width:390px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:33px;
}
#u66 {
  position:absolute;
  left:6px;
  top:-12px;
  width:382px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u68 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u72 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:90px;
  width:960px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u76 {
  position:absolute;
  left:580px;
  top:20px;
  width:380px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:right;
  line-height:normal;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:33px;
}
#u77 {
  position:absolute;
  left:6px;
  top:2px;
  width:372px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:10px;
  top:57px;
  width:70px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:80px;
  top:57px;
  width:680px;
  height:30px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:normal;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u81 {
  position:absolute;
  left:10px;
  top:5px;
  width:668px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:214px;
  top:62px;
  width:100px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83 {
  position:absolute;
  left:56px;
  top:8px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u84 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:21px;
  top:281px;
  width:839px;
  height:20px;
  font-size:19px;
  line-height:20px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:20px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:20px;
  top:510px;
  width:118px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:30px;
  top:330px;
  width:429px;
  height:34px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:34px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:30px;
  top:361px;
  width:371px;
  height:42px;
  font-size:16px;
  color:#6F777B;
  line-height:22px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:42px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:70px;
  top:439px;
  width:19px;
  height:37px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u94 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:129px;
  top:439px;
  width:19px;
  height:37px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u96 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:249px;
  top:439px;
  width:19px;
  height:37px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u98 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:30px;
  top:439px;
  width:40px;
  height:36px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100 {
  position:absolute;
  left:89px;
  top:439px;
  width:40px;
  height:36px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u101 {
  position:absolute;
  left:148px;
  top:439px;
  width:100px;
  height:36px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102 {
  position:absolute;
  left:268px;
  top:439px;
  width:40px;
  height:36px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u103 {
  position:absolute;
  left:31px;
  top:411px;
  width:389px;
  height:21px;
  font-size:16px;
  color:#CC0000;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:21px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:10px;
  top:330px;
  width:5px;
  height:145px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:145px;
}
#u106 {
  position:absolute;
  left:2px;
  top:64px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:20px;
  top:115px;
  width:929px;
  height:48px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
  text-align:left;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:929px;
  height:48px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:925px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:20px;
  top:166px;
  width:909px;
  height:54px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:54px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:905px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u10_img.a {
}
#u11.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u41.a {
}
#u43.a {
}
#u45.a {
}
#u47.a {
}
#u49.a {
}
#u51.a {
}
#u53.a {
}
#u55.a {
}
#u57.a {
}
#u59.a {
}
#u61.a {
}
#u63.a {
}
#u65.a {
}
#u67.a {
}
#u69.a {
}
#u71.a {
}
#u73.a {
}
#u75.a {
}
#u75_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end.a {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u76.a {
}
#u78.a {
}
#u80.a {
}
#u82.a {
}
#u83.a {
}
#u85.a {
}
#u87.a {
}
#u89.a {
}
#u91.a {
}
#u93.a {
}
#u95.a {
}
#u97.a {
}
#u99.a {
  position:absolute;
  left:30px;
  top:439px;
  width:40px;
  height:36px;
}
#u99_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100.a {
  position:absolute;
  left:89px;
  top:439px;
  width:40px;
  height:36px;
}
#u100_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u101.a {
  position:absolute;
  left:148px;
  top:439px;
  width:100px;
  height:36px;
}
#u101_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102.a {
  position:absolute;
  left:268px;
  top:439px;
  width:40px;
  height:36px;
}
#u102_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u103.a {
}
#u105.a {
}
#u107.a {
}
#u109.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u4.b {
}
#u6.b {
}
#u8.b {
}
#u10.b {
}
#u10_img.b {
}
#u11.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
}
#u18.b {
}
#u20.b {
}
#u22.b {
}
#u24.b {
}
#u26.b {
}
#u28.b {
}
#u30.b {
}
#u32.b {
}
#u34.b {
}
#u36.b {
}
#u38.b {
}
#u40.b {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u41.b {
}
#u43.b {
}
#u45.b {
}
#u47.b {
}
#u49.b {
}
#u51.b {
}
#u53.b {
}
#u55.b {
}
#u57.b {
}
#u59.b {
}
#u61.b {
}
#u63.b {
}
#u65.b {
}
#u67.b {
}
#u69.b {
}
#u71.b {
}
#u73.b {
}
#u75.b {
}
#u75_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end.b {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u76.b {
}
#u78.b {
}
#u80.b {
}
#u82.b {
}
#u83.b {
}
#u85.b {
}
#u87.b {
}
#u89.b {
}
#u91.b {
}
#u93.b {
}
#u95.b {
}
#u97.b {
}
#u99.b {
  position:absolute;
  left:30px;
  top:439px;
  width:40px;
  height:36px;
}
#u99_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100.b {
  position:absolute;
  left:89px;
  top:439px;
  width:40px;
  height:36px;
}
#u100_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u101.b {
  position:absolute;
  left:148px;
  top:439px;
  width:100px;
  height:36px;
}
#u101_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102.b {
  position:absolute;
  left:268px;
  top:439px;
  width:40px;
  height:36px;
}
#u102_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u103.b {
}
#u105.b {
}
#u107.b {
}
#u109.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:770px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.c {
  width:750px;
  height:170px;
}
#u0_img.c {
  width:750px;
  height:170px;
}
#u1.c {
  top:77px;
  width:746px;
}
#u2.c {
  width:768px;
  height:249px;
}
#u2_img.c {
  width:768px;
  height:249px;
}
#u3.c {
  top:116px;
  width:764px;
}
#u4.c {
  left:324px;
  top:825px;
}
#u4_img.c {
}
#u5.c {
}
#u6.c {
  left:326px;
  top:939px;
}
#u6_img.c {
}
#u7.c {
}
#u8.c {
  top:725px;
}
#u8_img.c {
}
#u9.c {
}
#u10.c {
  width:768px;
}
#u10_img.c {
  width:768px;
}
#u11.c {
  width:764px;
}
#u12.c {
  top:790px;
}
#u12_img.c {
}
#u13.c {
}
#u14.c {
}
#u16.c {
}
#u18.c {
}
#u18_img.c {
}
#u19.c {
}
#u20.c {
}
#u22.c {
}
#u24.c {
}
#u26.c {
}
#u28.c {
}
#u30.c {
}
#u32.c {
}
#u34.c {
}
#u36.c {
}
#u38.c {
  top:301px;
}
#u38_img.c {
}
#u39.c {
}
#u40.c {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:100px;
}
#u41.c {
  width:770px;
}
#u41_img.c {
  width:770px;
}
#u42.c {
  width:766px;
}
#u43.c {
}
#u43_img.c {
}
#u44.c {
}
#u45.c {
}
#u45_img.c {
}
#u46.c {
}
#u47.c {
}
#u47_img.c {
}
#u48.c {
}
#u49.c {
}
#u49_img.c {
}
#u50.c {
}
#u51.c {
}
#u51_img.c {
}
#u52.c {
}
#u53.c {
}
#u55.c {
}
#u57.c {
}
#u59.c {
}
#u61.c {
}
#u63.c {
}
#u65.c {
}
#u67.c {
}
#u69.c {
}
#u71.c {
}
#u73.c {
}
#u75.c {
  width:770px;
}
#u75_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end.c {
  position:absolute;
  left:753px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line.c {
  position:absolute;
  left:0px;
  top:5px;
  width:770px;
  height:1px;
}
#u76.c {
  left:380px;
  top:10px;
}
#u76_img.c {
}
#u77.c {
}
#u78.c {
}
#u80.c {
}
#u82.c {
}
#u83.c {
}
#u85.c {
  top:352px;
  width:729px;
  height:40px;
}
#u85_img.c {
  width:729px;
  height:40px;
}
#u86.c {
  width:729px;
}
#u87.c {
  top:614px;
}
#u87_img.c {
}
#u87_img.c.mouseOver {
}
#u88.c {
}
#u89.c {
  left:40px;
  top:409px;
}
#u89_img.c {
}
#u90.c {
}
#u91.c {
  left:40px;
  top:440px;
}
#u91_img.c {
}
#u92.c {
}
#u93.c {
  left:80px;
  top:518px;
}
#u93_img.c {
}
#u94.c {
}
#u95.c {
  left:139px;
  top:518px;
}
#u95_img.c {
}
#u96.c {
}
#u97.c {
  left:259px;
  top:518px;
}
#u97_img.c {
}
#u98.c {
}
#u99.c {
  position:absolute;
  left:40px;
  top:518px;
  width:40px;
  height:36px;
}
#u99_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100.c {
  position:absolute;
  left:99px;
  top:518px;
  width:40px;
  height:36px;
}
#u100_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u101.c {
  position:absolute;
  left:158px;
  top:518px;
  width:100px;
  height:36px;
}
#u101_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102.c {
  position:absolute;
  left:278px;
  top:518px;
  width:40px;
  height:36px;
}
#u102_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u103.c {
  left:41px;
  top:490px;
}
#u103_img.c {
}
#u104.c {
}
#u105.c {
  left:20px;
  top:409px;
}
#u105_img.c {
}
#u106.c {
}
#u107.c {
  width:719px;
  height:32px;
}
#u107_img.c {
  width:719px;
  height:32px;
}
#u108.c {
  width:715px;
}
#u109.c {
  left:21px;
  top:178px;
  width:739px;
  height:91px;
}
#u109_img.c {
  width:739px;
  height:91px;
}
#u110.c {
  width:735px;
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.d {
  left:20px;
  top:190px;
  width:440px;
  height:260px;
}
#u0_img.d {
  width:440px;
  height:260px;
}
#u1.d {
  top:122px;
  width:436px;
}
#u2.d {
  width:768px;
  height:249px;
}
#u2_img.d {
  width:768px;
  height:249px;
}
#u3.d {
  top:116px;
  width:764px;
}
#u4.d {
  left:324px;
  top:825px;
}
#u4_img.d {
}
#u5.d {
}
#u6.d {
  left:326px;
  top:939px;
}
#u6_img.d {
}
#u7.d {
}
#u8.d {
  top:725px;
}
#u8_img.d {
}
#u9.d {
}
#u10.d {
  width:768px;
}
#u10_img.d {
  width:768px;
}
#u11.d {
  width:764px;
}
#u12.d {
  top:790px;
}
#u12_img.d {
}
#u13.d {
}
#u14.d {
  left:0px;
  top:913px;
  width:480px;
  height:377px;
}
#u14_img.d {
  width:480px;
  height:377px;
}
#u15.d {
  top:180px;
  width:476px;
}
#u16.d {
  left:177px;
  top:1131px;
}
#u16_img.d {
}
#u17.d {
}
#u18.d {
  left:179px;
  top:1245px;
}
#u18_img.d {
}
#u19.d {
}
#u20.d {
  left:20px;
  top:925px;
  width:450px;
  height:185px;
}
#u20_img.d {
  width:450px;
  height:185px;
}
#u21.d {
  width:446px;
}
#u22.d {
  left:0px;
  top:900px;
  width:480px;
}
#u22_img.d {
  width:480px;
}
#u23.d {
  width:476px;
}
#u24.d {
  left:21px;
  top:1040px;
}
#u24_img.d {
}
#u25.d {
}
#u26.d {
}
#u28.d {
}
#u30.d {
}
#u32.d {
}
#u34.d {
}
#u36.d {
}
#u38.d {
  top:468px;
}
#u38_img.d {
}
#u39.d {
}
#u40.d {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:175px;
}
#u41.d {
  width:770px;
}
#u41_img.d {
  width:770px;
}
#u42.d {
  width:766px;
}
#u43.d {
}
#u43_img.d {
}
#u44.d {
}
#u45.d {
}
#u45_img.d {
}
#u46.d {
}
#u47.d {
}
#u47_img.d {
}
#u48.d {
}
#u49.d {
}
#u49_img.d {
}
#u50.d {
}
#u51.d {
}
#u51_img.d {
}
#u52.d {
}
#u53.d {
  width:480px;
  height:121px;
}
#u53_img.d {
  width:480px;
  height:121px;
}
#u54.d {
  top:52px;
  width:476px;
}
#u55.d {
}
#u55_img.d {
}
#u56.d {
}
#u57.d {
}
#u57_img.d {
}
#u58.d {
}
#u59.d {
  left:10px;
  width:460px;
  height:46px;
}
#u59_img.d {
  width:460px;
  height:46px;
}
#u60.d {
  width:452px;
}
#u61.d {
}
#u61_img.d {
}
#u62.d {
}
#u63.d {
  width:480px;
  height:121px;
}
#u63_img.d {
  width:480px;
  height:121px;
}
#u64.d {
  top:52px;
  width:476px;
}
#u65.d {
}
#u67.d {
}
#u69.d {
}
#u71.d {
}
#u73.d {
}
#u75.d {
  top:165px;
  width:480px;
}
#u75_start.d {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end.d {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line.d {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u76.d {
  left:380px;
  top:10px;
}
#u76_img.d {
}
#u77.d {
}
#u78.d {
  top:132px;
}
#u78_img.d {
}
#u79.d {
}
#u80.d {
  top:132px;
  width:260px;
}
#u80_img.d {
  width:260px;
}
#u81.d {
  top:-4px;
  width:248px;
}
#u82.d {
  left:220px;
  top:128px;
  width:90px;
}
#u83.d {
}
#u85.d {
  left:20px;
  top:519px;
  width:439px;
  height:56px;
}
#u85_img.d {
  width:439px;
  height:56px;
}
#u86.d {
  width:439px;
}
#u87.d {
  top:794px;
}
#u87_img.d {
}
#u87_img.d.mouseOver {
}
#u88.d {
}
#u89.d {
  left:40px;
  top:598px;
}
#u89_img.d {
}
#u90.d {
}
#u91.d {
  left:40px;
  top:630px;
  width:429px;
}
#u91_img.d {
  width:429px;
}
#u92.d {
  width:429px;
}
#u93.d {
  left:80px;
  top:712px;
}
#u93_img.d {
}
#u94.d {
}
#u95.d {
  left:139px;
  top:712px;
}
#u95_img.d {
}
#u96.d {
}
#u97.d {
  left:259px;
  top:712px;
}
#u97_img.d {
}
#u98.d {
}
#u99.d {
  position:absolute;
  left:40px;
  top:712px;
  width:40px;
  height:36px;
}
#u99_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100.d {
  position:absolute;
  left:99px;
  top:712px;
  width:40px;
  height:36px;
}
#u100_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u101.d {
  position:absolute;
  left:158px;
  top:712px;
  width:100px;
  height:36px;
}
#u101_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102.d {
  position:absolute;
  left:278px;
  top:712px;
  width:40px;
  height:36px;
}
#u102_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u103.d {
  left:40px;
  top:684px;
}
#u103_img.d {
}
#u104.d {
}
#u105.d {
  left:20px;
  top:598px;
  height:150px;
}
#u105_img.d {
  height:150px;
}
#u106.d {
  top:67px;
}
#u107.d {
  left:31px;
  top:200px;
  width:418px;
  height:66px;
}
#u107_img.d {
  width:418px;
  height:66px;
}
#u108.d {
  width:414px;
}
#u109.d {
  left:31px;
  top:284px;
  width:409px;
  height:127px;
}
#u109_img.d {
  width:409px;
  height:127px;
}
#u110.d {
  width:405px;
}
body.e {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.e {
  left:20px;
  top:200px;
  width:283px;
  height:360px;
}
#u0_img.e {
  width:283px;
  height:360px;
}
#u1.e {
  top:172px;
  width:279px;
}
#u2.e {
  width:768px;
  height:249px;
}
#u2_img.e {
  width:768px;
  height:249px;
}
#u3.e {
  top:116px;
  width:764px;
}
#u4.e {
  left:324px;
  top:825px;
}
#u4_img.e {
}
#u5.e {
}
#u6.e {
  left:326px;
  top:939px;
}
#u6_img.e {
}
#u7.e {
}
#u8.e {
  top:725px;
}
#u8_img.e {
}
#u9.e {
}
#u10.e {
  width:768px;
}
#u10_img.e {
  width:768px;
}
#u11.e {
  width:764px;
}
#u12.e {
  top:790px;
}
#u12_img.e {
}
#u13.e {
}
#u14.e {
  left:0px;
  top:913px;
  width:480px;
  height:377px;
}
#u14_img.e {
  width:480px;
  height:377px;
}
#u15.e {
  top:180px;
  width:476px;
}
#u16.e {
  left:177px;
  top:1131px;
}
#u16_img.e {
}
#u17.e {
}
#u18.e {
  left:179px;
  top:1245px;
}
#u18_img.e {
}
#u19.e {
}
#u20.e {
  left:20px;
  top:925px;
  width:450px;
  height:185px;
}
#u20_img.e {
  width:450px;
  height:185px;
}
#u21.e {
  width:446px;
}
#u22.e {
  left:0px;
  top:900px;
  width:480px;
}
#u22_img.e {
  width:480px;
}
#u23.e {
  width:476px;
}
#u24.e {
  left:21px;
  top:1040px;
}
#u24_img.e {
}
#u25.e {
}
#u26.e {
  top:1213px;
  width:320px;
  height:442px;
}
#u26_img.e {
  width:320px;
  height:442px;
}
#u27.e {
  top:213px;
  width:316px;
}
#u28.e {
  left:85px;
  top:1475px;
}
#u28_img.e {
}
#u29.e {
}
#u30.e {
  left:87px;
  top:1589px;
}
#u30_img.e {
}
#u31.e {
}
#u32.e {
  top:1225px;
  width:290px;
  height:230px;
}
#u32_img.e {
  width:290px;
  height:230px;
}
#u33.e {
  top:2px;
  width:286px;
}
#u34.e {
  top:1200px;
  width:320px;
}
#u34_img.e {
  width:320px;
}
#u35.e {
  width:316px;
}
#u36.e {
  top:1345px;
}
#u36_img.e {
}
#u37.e {
}
#u38.e {
  top:580px;
  width:270px;
  height:48px;
}
#u38_img.e {
  width:270px;
  height:48px;
}
#u39.e {
  top:2px;
  width:268px;
}
#u40.e {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:186px;
}
#u41.e {
  width:770px;
}
#u41_img.e {
  width:770px;
}
#u42.e {
  width:766px;
}
#u43.e {
}
#u43_img.e {
}
#u44.e {
}
#u45.e {
}
#u45_img.e {
}
#u46.e {
}
#u47.e {
}
#u47_img.e {
}
#u48.e {
}
#u49.e {
}
#u49_img.e {
}
#u50.e {
}
#u51.e {
}
#u51_img.e {
}
#u52.e {
}
#u53.e {
  width:320px;
  height:131px;
}
#u53_img.e {
  width:320px;
  height:131px;
}
#u54.e {
  top:58px;
  width:316px;
}
#u55.e {
}
#u55_img.e {
}
#u56.e {
}
#u57.e {
}
#u57_img.e {
}
#u58.e {
}
#u59.e {
  left:10px;
  width:460px;
  height:46px;
}
#u59_img.e {
  width:460px;
  height:46px;
}
#u60.e {
  width:452px;
}
#u61.e {
}
#u61_img.e {
}
#u62.e {
}
#u63.e {
  width:320px;
  height:131px;
}
#u63_img.e {
  width:320px;
  height:131px;
}
#u64.e {
  top:58px;
  width:316px;
}
#u65.e {
  left:10px;
  top:54px;
  width:300px;
  height:66px;
}
#u65_img.e {
  width:300px;
  height:66px;
}
#u66.e {
  top:2px;
  width:292px;
}
#u67.e {
}
#u67_img.e {
}
#u68.e {
}
#u69.e {
}
#u69_img.e {
}
#u70.e {
}
#u71.e {
}
#u71_img.e {
}
#u72.e {
}
#u73.e {
}
#u73_img.e {
}
#u74.e {
}
#u75.e {
  top:176px;
  width:320px;
}
#u75_start.e {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end.e {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line.e {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u76.e {
  left:380px;
  top:10px;
}
#u76_img.e {
}
#u77.e {
}
#u78.e {
  top:140px;
}
#u78_img.e {
}
#u79.e {
}
#u80.e {
  top:139px;
  width:230px;
  height:31px;
}
#u80_img.e {
  width:230px;
  height:31px;
}
#u81.e {
  top:0px;
  width:220px;
}
#u82.e {
  left:220px;
  top:139px;
  width:90px;
}
#u83.e {
}
#u85.e {
  left:20px;
  top:678px;
  width:283px;
  height:112px;
}
#u85_img.e {
  width:283px;
  height:112px;
}
#u86.e {
  width:283px;
}
#u87.e {
  top:1074px;
}
#u87_img.e {
}
#u87_img.e.mouseOver {
}
#u88.e {
}
#u89.e {
  left:40px;
  top:801px;
  width:260px;
  height:68px;
}
#u89_img.e {
  width:260px;
  height:68px;
}
#u90.e {
  width:260px;
}
#u91.e {
  left:40px;
  top:880px;
  width:258px;
  height:77px;
}
#u91_img.e {
  width:258px;
  height:77px;
}
#u92.e {
  width:258px;
}
#u93.e {
  left:80px;
  top:1006px;
}
#u93_img.e {
}
#u94.e {
}
#u95.e {
  left:139px;
  top:1006px;
}
#u95_img.e {
}
#u96.e {
}
#u97.e {
  left:259px;
  top:1006px;
}
#u97_img.e {
}
#u98.e {
}
#u99.e {
  position:absolute;
  left:40px;
  top:1006px;
  width:40px;
  height:36px;
}
#u99_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100.e {
  position:absolute;
  left:99px;
  top:1006px;
  width:40px;
  height:36px;
}
#u100_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u101.e {
  position:absolute;
  left:158px;
  top:1006px;
  width:100px;
  height:36px;
}
#u101_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u102.e {
  position:absolute;
  left:278px;
  top:1006px;
  width:40px;
  height:36px;
}
#u102_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u103.e {
  left:40px;
  top:957px;
  width:278px;
  height:42px;
}
#u103_img.e {
  width:278px;
  height:42px;
}
#u104.e {
  width:278px;
}
#u105.e {
  left:20px;
  top:801px;
  height:242px;
}
#u105_img.e {
  height:242px;
}
#u106.e {
  top:113px;
}
#u107.e {
  left:30px;
  top:214px;
  width:259px;
  height:156px;
}
#u107_img.e {
  width:259px;
  height:156px;
}
#u108.e {
  width:255px;
}
#u109.e {
  left:31px;
  top:370px;
  width:259px;
  height:180px;
}
#u109_img.e {
  width:259px;
  height:180px;
}
#u110.e {
  width:255px;
}
