body {
  margin:0px;
  background-image:url('../../images/dx_-_02_-_your_case/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:400px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:20px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1_img.mouseOver {
}
#u1.mouseOver {
}
#u2 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:90px;
  width:960px;
  height:199px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:199px;
}
#u4 {
  position:absolute;
  left:2px;
  top:92px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:820px;
  top:116px;
  width:125px;
  height:102px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u6 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:822px;
  top:230px;
  width:124px;
  height:18px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:20px;
  top:154px;
  width:730px;
  height:97px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#6E787A;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:97px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:726px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:22px;
  top:226px;
  width:40px;
  height:17px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u12 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:80px;
  width:960px;
  height:10px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:10px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:152px;
  top:656px;
  width:768px;
  height:320px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:320px;
}
#u16 {
  position:absolute;
  left:2px;
  top:152px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:472px;
  top:824px;
  width:125px;
  height:102px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u18 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:474px;
  top:938px;
  width:124px;
  height:18px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:152px;
  top:646px;
  width:768px;
  height:10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:10px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-3px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:162px;
  top:674px;
  width:730px;
  height:132px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#6E787A;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:132px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:726px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:162px;
  top:750px;
  width:40px;
  height:17px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:296px;
  top:421px;
  width:480px;
  height:370px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:370px;
}
#u28 {
  position:absolute;
  left:2px;
  top:177px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:472px;
  top:642px;
  width:125px;
  height:102px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u30 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:474px;
  top:756px;
  width:124px;
  height:18px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:296px;
  top:411px;
  width:480px;
  height:10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:10px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-3px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:306px;
  top:439px;
  width:450px;
  height:152px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#6E787A;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:152px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:446px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:306px;
  top:515px;
  width:40px;
  height:17px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:376px;
  top:166px;
  width:320px;
  height:400px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:400px;
}
#u40 {
  position:absolute;
  left:2px;
  top:192px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:472px;
  top:415px;
  width:125px;
  height:102px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u42 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:474px;
  top:529px;
  width:124px;
  height:18px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:386px;
  top:176px;
  width:280px;
  height:208px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#6E787A;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:208px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:376px;
  top:156px;
  width:320px;
  height:10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:10px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-3px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:386px;
  top:286px;
  width:40px;
  height:17px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:120px;
  top:-358px;
  width:768px;
  height:320px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:320px;
}
#u52 {
  position:absolute;
  left:2px;
  top:152px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:442px;
  top:-190px;
  width:125px;
  height:102px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u54 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:444px;
  top:-76px;
  width:124px;
  height:18px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:120px;
  top:-368px;
  width:768px;
  height:10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:10px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-3px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:130px;
  top:-340px;
  width:730px;
  height:132px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#6E787A;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:132px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:726px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:130px;
  top:-264px;
  width:40px;
  height:17px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:274px;
  top:-163px;
  width:480px;
  height:370px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:370px;
}
#u64 {
  position:absolute;
  left:2px;
  top:177px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:452px;
  top:58px;
  width:125px;
  height:102px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u66 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:454px;
  top:172px;
  width:124px;
  height:18px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:274px;
  top:-173px;
  width:480px;
  height:10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:10px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-3px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:284px;
  top:-145px;
  width:450px;
  height:152px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#6E787A;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:152px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:446px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:284px;
  top:-69px;
  width:40px;
  height:17px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u74 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:364px;
  top:72px;
  width:320px;
  height:400px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:400px;
}
#u76 {
  position:absolute;
  left:2px;
  top:192px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:462px;
  top:321px;
  width:125px;
  height:102px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u78 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:464px;
  top:435px;
  width:124px;
  height:18px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:374px;
  top:82px;
  width:280px;
  height:208px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  color:#6E787A;
  text-align:left;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:208px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:364px;
  top:62px;
  width:320px;
  height:10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:10px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-3px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:374px;
  top:192px;
  width:40px;
  height:17px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u86 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:50px;
}
#u89 {
  position:absolute;
  left:2px;
  top:17px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u91 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u93 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u95 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u97 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u99 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u103 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:480px;
  top:10px;
  width:390px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:33px;
}
#u105 {
  position:absolute;
  left:6px;
  top:-12px;
  width:382px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u107 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u109 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u111 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u113 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:580px;
  top:20px;
  width:380px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:right;
  line-height:normal;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:33px;
}
#u115 {
  position:absolute;
  left:6px;
  top:2px;
  width:372px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u117 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:560px;
  top:10px;
  width:390px;
  height:33px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:33px;
}
#u119 {
  position:absolute;
  left:6px;
  top:0px;
  width:382px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u121 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:10px;
  top:67px;
  width:70px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u123 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:80px;
  top:67px;
}
#u124_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u124_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:normal;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u126 {
  position:absolute;
  left:10px;
  top:4px;
  width:668px;
  word-wrap:break-word;
}
#u124_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u124_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:normal;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u129 {
  position:absolute;
  left:10px;
  top:4px;
  width:668px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:56px;
  top:8px;
  width:124px;
  height:33px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u132 {
  position:absolute;
  left:6px;
  top:-38px;
  width:116px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:870px;
  top:67px;
}
#u133_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u133_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#005EA5;
  text-align:right;
  line-height:normal;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u134_img.selected {
}
#u134.selected {
}
#u134_img.mouseOver {
}
#u134.mouseOver {
}
#u135 {
  position:absolute;
  left:10px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u133_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u133_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#005EA5;
  text-align:right;
  line-height:normal;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u136_img.selected {
}
#u136.selected {
}
#u136_img.mouseOver {
}
#u136.mouseOver {
}
#u137 {
  position:absolute;
  left:10px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:10px;
  top:50px;
  width:940px;
  height:10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:10px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-3px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:10px;
  top:100px;
  width:940px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:4px;
  width:940px;
  height:2px;
}
#u141 {
  position:absolute;
  left:20px;
  top:64px;
  width:300px;
  height:66px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
}
#u142 {
  position:absolute;
  left:6px;
  top:2px;
  width:292px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:20px;
  top:270px;
  width:250px;
  height:36px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u144 {
  position:absolute;
  left:20px;
  top:130px;
  width:400px;
  height:37px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:left;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:37px;
}
#u145 {
  position:absolute;
  left:0px;
  top:-14px;
  width:398px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:20px;
  top:200px;
  width:510px;
  height:34px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:34px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:20px;
  top:238px;
  width:300px;
  height:22px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#6F777B;
  line-height:22px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/dx_-_02_-_your_case/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:400px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
#u21.a {
}
#u23.a {
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
#u31.a {
}
#u33.a {
}
#u35.a {
}
#u37.a {
}
#u39.a {
}
#u41.a {
}
#u43.a {
}
#u45.a {
}
#u47.a {
}
#u49.a {
}
#u51.a {
}
#u51_img.a {
}
#u52.a {
}
#u53.a {
}
#u53_img.a {
}
#u54.a {
}
#u55.a {
}
#u55_img.a {
}
#u56.a {
}
#u57.a {
}
#u57_img.a {
}
#u58.a {
}
#u59.a {
}
#u59_img.a {
}
#u60.a {
}
#u61.a {
}
#u61_img.a {
}
#u62.a {
}
#u63.a {
}
#u65.a {
}
#u67.a {
}
#u69.a {
}
#u71.a {
}
#u73.a {
}
#u75.a {
}
#u77.a {
}
#u79.a {
}
#u81.a {
}
#u83.a {
}
#u85.a {
}
#u87.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:110px;
}
#u88.a {
}
#u90.a {
}
#u92.a {
}
#u94.a {
}
#u96.a {
}
#u98.a {
}
#u100.a {
}
#u102.a {
}
#u104.a {
}
#u106.a {
}
#u108.a {
}
#u110.a {
}
#u112.a {
}
#u114.a {
}
#u116.a {
}
#u118.a {
}
#u120.a {
}
#u122.a {
}
#u124.a {
  position:absolute;
  left:80px;
  top:67px;
}
#u125.a {
}
#u128.a {
}
#u131.a {
}
#u133.a {
  position:absolute;
  left:870px;
  top:67px;
}
#u134.a {
}
#u136.a {
}
#u138.a {
}
#u140.a {
}
#u140_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end.a {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:940px;
  height:2px;
}
#u141.a {
}
#u143.a {
  position:absolute;
  left:20px;
  top:270px;
  width:250px;
  height:36px;
}
#u143_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u144.a {
}
#u146.a {
}
#u148.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/dx_-_02_-_your_case/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
  position:absolute;
  left:0px;
  top:400px;
}
#u1.b {
}
#u3.b {
}
#u3_img.b {
}
#u4.b {
}
#u5.b {
}
#u5_img.b {
}
#u6.b {
}
#u7.b {
}
#u7_img.b {
}
#u8.b {
}
#u9.b {
}
#u9_img.b {
}
#u10.b {
}
#u11.b {
}
#u11_img.b {
}
#u12.b {
}
#u13.b {
}
#u13_img.b {
}
#u14.b {
}
#u15.b {
}
#u17.b {
}
#u19.b {
}
#u21.b {
}
#u23.b {
}
#u25.b {
}
#u27.b {
}
#u29.b {
}
#u31.b {
}
#u33.b {
}
#u35.b {
}
#u37.b {
}
#u39.b {
}
#u41.b {
}
#u43.b {
}
#u45.b {
}
#u47.b {
}
#u49.b {
}
#u51.b {
  left:0px;
  top:90px;
}
#u51_img.b {
}
#u52.b {
}
#u53.b {
  left:322px;
  top:258px;
}
#u53_img.b {
}
#u54.b {
}
#u55.b {
  left:324px;
  top:372px;
}
#u55_img.b {
}
#u56.b {
}
#u57.b {
  left:0px;
  top:80px;
}
#u57_img.b {
}
#u58.b {
}
#u59.b {
  left:10px;
  top:108px;
}
#u59_img.b {
}
#u60.b {
}
#u61.b {
  left:10px;
  top:184px;
}
#u61_img.b {
}
#u62.b {
}
#u63.b {
}
#u65.b {
}
#u67.b {
}
#u69.b {
}
#u71.b {
}
#u73.b {
}
#u75.b {
}
#u77.b {
}
#u79.b {
}
#u81.b {
}
#u83.b {
}
#u85.b {
}
#u87.b {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:110px;
}
#u88.b {
}
#u88_img.b {
}
#u89.b {
}
#u90.b {
}
#u90_img.b {
}
#u91.b {
}
#u92.b {
}
#u92_img.b {
}
#u93.b {
}
#u94.b {
}
#u96.b {
}
#u98.b {
}
#u100.b {
}
#u102.b {
}
#u104.b {
}
#u106.b {
}
#u108.b {
}
#u110.b {
}
#u112.b {
}
#u114.b {
  left:380px;
  top:10px;
}
#u114_img.b {
}
#u115.b {
}
#u116.b {
  width:768px;
}
#u116_img.b {
  width:768px;
}
#u117.b {
  width:764px;
}
#u118.b {
  left:380px;
  top:9px;
  width:380px;
}
#u118_img.b {
  width:380px;
}
#u119.b {
  width:372px;
}
#u120.b {
}
#u122.b {
}
#u124.b {
  position:absolute;
  left:80px;
  top:67px;
}
#u125.b {
}
#u128.b {
}
#u131.b {
}
#u133.b {
  position:absolute;
  left:680px;
  top:67px;
}
#u134.b {
}
#u136.b {
}
#u138.b {
  width:750px;
}
#u138_img.b {
  width:750px;
}
#u139.b {
  width:746px;
}
#u140.b {
  width:750px;
}
#u140_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end.b {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line.b {
  position:absolute;
  left:0px;
  top:4px;
  width:750px;
  height:2px;
}
#u141.b {
}
#u143.b {
  position:absolute;
  left:20px;
  top:270px;
  width:250px;
  height:36px;
}
#u143_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u144.b {
}
#u146.b {
}
#u146_img.b {
}
#u147.b {
}
#u148.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/dx_-_02_-_your_case/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:530px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.c {
  position:absolute;
  left:0px;
  top:520px;
}
#u1.c {
}
#u3.c {
}
#u3_img.c {
}
#u4.c {
}
#u5.c {
}
#u5_img.c {
}
#u6.c {
}
#u7.c {
}
#u7_img.c {
}
#u8.c {
}
#u9.c {
}
#u9_img.c {
}
#u10.c {
}
#u11.c {
}
#u11_img.c {
}
#u12.c {
}
#u13.c {
}
#u13_img.c {
}
#u14.c {
}
#u15.c {
}
#u17.c {
}
#u19.c {
}
#u21.c {
}
#u23.c {
}
#u25.c {
}
#u27.c {
}
#u29.c {
}
#u31.c {
}
#u33.c {
}
#u35.c {
}
#u37.c {
}
#u39.c {
}
#u41.c {
}
#u43.c {
}
#u45.c {
}
#u47.c {
}
#u49.c {
}
#u51.c {
  left:0px;
  top:90px;
}
#u51_img.c {
}
#u52.c {
}
#u53.c {
  left:322px;
  top:258px;
}
#u53_img.c {
}
#u54.c {
}
#u55.c {
  left:324px;
  top:372px;
}
#u55_img.c {
}
#u56.c {
}
#u57.c {
  left:0px;
  top:80px;
}
#u57_img.c {
}
#u58.c {
}
#u59.c {
  left:10px;
  top:108px;
}
#u59_img.c {
}
#u60.c {
}
#u61.c {
  left:10px;
  top:184px;
}
#u61_img.c {
}
#u62.c {
}
#u63.c {
  left:0px;
  top:90px;
}
#u63_img.c {
}
#u64.c {
}
#u65.c {
  left:178px;
  top:311px;
}
#u65_img.c {
}
#u66.c {
}
#u67.c {
  left:180px;
  top:425px;
}
#u67_img.c {
}
#u68.c {
}
#u69.c {
  left:0px;
  top:80px;
}
#u69_img.c {
}
#u70.c {
}
#u71.c {
  left:10px;
  top:108px;
}
#u71_img.c {
}
#u72.c {
}
#u73.c {
  left:10px;
  top:184px;
}
#u73_img.c {
}
#u74.c {
}
#u75.c {
}
#u77.c {
}
#u79.c {
}
#u81.c {
}
#u83.c {
}
#u85.c {
}
#u87.c {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:220px;
}
#u88.c {
}
#u88_img.c {
}
#u89.c {
}
#u90.c {
}
#u90_img.c {
}
#u91.c {
}
#u92.c {
}
#u92_img.c {
}
#u93.c {
}
#u94.c {
  width:480px;
  height:121px;
}
#u94_img.c {
  width:480px;
  height:121px;
}
#u95.c {
  top:52px;
  width:476px;
}
#u96.c {
}
#u96_img.c {
}
#u97.c {
}
#u98.c {
}
#u98_img.c {
}
#u99.c {
}
#u100.c {
}
#u100_img.c {
}
#u101.c {
}
#u102.c {
  width:480px;
  height:121px;
}
#u102_img.c {
  width:480px;
  height:121px;
}
#u103.c {
  top:52px;
  width:476px;
}
#u104.c {
}
#u106.c {
}
#u108.c {
}
#u110.c {
}
#u112.c {
}
#u114.c {
  left:380px;
  top:10px;
}
#u114_img.c {
}
#u115.c {
}
#u116.c {
  width:480px;
  height:87px;
}
#u116_img.c {
  width:480px;
  height:87px;
}
#u117.c {
  top:36px;
  width:476px;
}
#u118.c {
  left:520px;
  top:115px;
  width:380px;
}
#u118_img.c {
  width:380px;
}
#u119.c {
  width:372px;
}
#u120.c {
}
#u122.c {
  top:141px;
}
#u122_img.c {
}
#u123.c {
}
#u124.c {
  position:absolute;
  left:10px;
  top:180px;
}
#u125.c {
  width:440px;
}
#u125_img.c {
  width:440px;
}
#u126.c {
  left:0px;
  width:438px;
}
#u128.c {
  width:440px;
}
#u128_img.c {
  width:440px;
}
#u129.c {
  left:0px;
  top:-6px;
  width:438px;
}
#u131.c {
}
#u133.c {
  position:absolute;
  left:390px;
  top:141px;
}
#u134.c {
}
#u136.c {
}
#u138.c {
  top:121px;
  width:460px;
}
#u138_img.c {
  width:460px;
}
#u139.c {
  width:456px;
}
#u140.c {
  top:210px;
  width:460px;
}
#u140_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end.c {
  position:absolute;
  left:443px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line.c {
  position:absolute;
  left:0px;
  top:4px;
  width:460px;
  height:2px;
}
#u141.c {
  left:10px;
  width:460px;
  height:46px;
}
#u141_img.c {
  width:460px;
  height:46px;
}
#u142.c {
  width:452px;
}
#u143.c {
  position:absolute;
  left:20px;
  top:432px;
  width:250px;
  height:36px;
}
#u143_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u144.c {
}
#u146.c {
}
#u146_img.c {
}
#u147.c {
}
#u148.c {
  width:429px;
  height:33px;
}
#u148_img.c {
  width:429px;
  height:33px;
}
#u149.c {
  width:429px;
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/dx_-_02_-_your_case/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.d {
  position:absolute;
  left:0px;
  top:590px;
}
#u1.d {
  width:283px;
}
#u1_img.d {
  width:283px;
}
#u1_img.d.mouseOver {
}
#u2.d {
  width:279px;
}
#u3.d {
}
#u3_img.d {
}
#u4.d {
}
#u5.d {
}
#u5_img.d {
}
#u6.d {
}
#u7.d {
}
#u7_img.d {
}
#u8.d {
}
#u9.d {
}
#u9_img.d {
}
#u10.d {
}
#u11.d {
}
#u11_img.d {
}
#u12.d {
}
#u13.d {
}
#u13_img.d {
}
#u14.d {
}
#u15.d {
}
#u17.d {
}
#u19.d {
}
#u21.d {
}
#u23.d {
}
#u25.d {
}
#u27.d {
}
#u29.d {
}
#u31.d {
}
#u33.d {
}
#u35.d {
}
#u37.d {
}
#u39.d {
}
#u41.d {
}
#u43.d {
}
#u45.d {
}
#u47.d {
}
#u49.d {
}
#u51.d {
  left:0px;
  top:90px;
}
#u51_img.d {
}
#u52.d {
}
#u53.d {
  left:322px;
  top:258px;
}
#u53_img.d {
}
#u54.d {
}
#u55.d {
  left:324px;
  top:372px;
}
#u55_img.d {
}
#u56.d {
}
#u57.d {
  left:0px;
  top:80px;
}
#u57_img.d {
}
#u58.d {
}
#u59.d {
  left:10px;
  top:108px;
}
#u59_img.d {
}
#u60.d {
}
#u61.d {
  left:10px;
  top:184px;
}
#u61_img.d {
}
#u62.d {
}
#u63.d {
  left:0px;
  top:90px;
}
#u63_img.d {
}
#u64.d {
}
#u65.d {
  left:178px;
  top:311px;
}
#u65_img.d {
}
#u66.d {
}
#u67.d {
  left:180px;
  top:425px;
}
#u67_img.d {
}
#u68.d {
}
#u69.d {
  left:0px;
  top:80px;
}
#u69_img.d {
}
#u70.d {
}
#u71.d {
  left:10px;
  top:108px;
}
#u71_img.d {
}
#u72.d {
}
#u73.d {
  left:10px;
  top:184px;
}
#u73_img.d {
}
#u74.d {
}
#u75.d {
  left:0px;
  top:90px;
}
#u75_img.d {
}
#u76.d {
}
#u77.d {
  left:98px;
  top:339px;
}
#u77_img.d {
}
#u78.d {
}
#u79.d {
  left:100px;
  top:453px;
}
#u79_img.d {
}
#u80.d {
}
#u81.d {
  left:10px;
  top:100px;
}
#u81_img.d {
}
#u82.d {
}
#u83.d {
  left:0px;
  top:80px;
}
#u83_img.d {
}
#u84.d {
}
#u85.d {
  left:10px;
  top:210px;
}
#u85_img.d {
}
#u86.d {
}
#u87.d {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:248px;
}
#u88.d {
}
#u88_img.d {
}
#u89.d {
}
#u90.d {
}
#u90_img.d {
}
#u91.d {
}
#u92.d {
}
#u92_img.d {
}
#u93.d {
}
#u94.d {
  width:320px;
  height:131px;
}
#u94_img.d {
  width:320px;
  height:131px;
}
#u95.d {
  top:58px;
  width:316px;
}
#u96.d {
}
#u96_img.d {
}
#u97.d {
}
#u98.d {
}
#u98_img.d {
}
#u99.d {
}
#u100.d {
}
#u100_img.d {
}
#u101.d {
}
#u102.d {
  width:320px;
  height:131px;
}
#u102_img.d {
  width:320px;
  height:131px;
}
#u103.d {
  top:58px;
  width:316px;
}
#u104.d {
  left:10px;
  top:54px;
  width:300px;
  height:66px;
}
#u104_img.d {
  width:300px;
  height:66px;
}
#u105.d {
  top:2px;
  width:292px;
}
#u106.d {
}
#u106_img.d {
}
#u107.d {
}
#u108.d {
}
#u108_img.d {
}
#u109.d {
}
#u110.d {
}
#u110_img.d {
}
#u111.d {
}
#u112.d {
}
#u112_img.d {
}
#u113.d {
}
#u114.d {
  left:380px;
  top:10px;
}
#u114_img.d {
}
#u115.d {
}
#u116.d {
  width:320px;
  height:54px;
}
#u116_img.d {
  width:320px;
  height:54px;
}
#u117.d {
  top:19px;
  width:316px;
}
#u118.d {
  left:520px;
  top:115px;
  width:220px;
}
#u118_img.d {
  width:220px;
}
#u119.d {
  top:2px;
  width:212px;
}
#u120.d {
}
#u122.d {
  top:151px;
}
#u122_img.d {
}
#u123.d {
}
#u124.d {
  position:absolute;
  left:10px;
  top:191px;
}
#u125.d {
  width:300px;
  height:57px;
}
#u125_img.d {
  width:300px;
  height:57px;
}
#u126.d {
  left:0px;
  top:2px;
  width:298px;
}
#u128.d {
  width:300px;
  height:57px;
}
#u128_img.d {
  width:300px;
  height:57px;
}
#u129.d {
  left:0px;
  top:2px;
  width:298px;
}
#u131.d {
}
#u133.d {
  position:absolute;
  left:230px;
  top:151px;
}
#u134.d {
}
#u136.d {
}
#u138.d {
  top:131px;
  width:300px;
}
#u138_img.d {
  width:300px;
}
#u139.d {
  width:296px;
}
#u140.d {
  top:238px;
  width:300px;
}
#u140_start.d {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end.d {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line.d {
  position:absolute;
  left:0px;
  top:4px;
  width:300px;
  height:2px;
}
#u141.d {
  left:10px;
  width:460px;
  height:46px;
}
#u141_img.d {
  width:460px;
  height:46px;
}
#u142.d {
  width:452px;
}
#u143.d {
  position:absolute;
  left:20px;
  top:502px;
  width:250px;
  height:36px;
}
#u143_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u144.d {
  width:289px;
  height:40px;
}
#u144_img.d {
  width:289px;
  height:40px;
}
#u145.d {
  top:-13px;
  width:287px;
}
#u146.d {
  width:289px;
  height:62px;
}
#u146_img.d {
  width:289px;
  height:62px;
}
#u147.d {
  width:289px;
}
#u148.d {
  width:289px;
  height:34px;
}
#u148_img.d {
  width:289px;
  height:34px;
}
#u149.d {
  width:289px;
}
