body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:5760px;
  height:2510px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5760px;
  height:2510px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1247px;
  width:5756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:2660px;
  top:150px;
  width:370px;
  height:33px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:5760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:5760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:5760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
}
#u2.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:5760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
}
#u2.d {
}
