body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:6548px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-1px;
  top:0px;
  width:6550px;
  height:2592px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6550px;
  height:2592px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1288px;
  width:6546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:730px;
  top:670px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:920px;
  top:670px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:1170px;
  top:1010px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:1800px;
  top:670px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:2040px;
  top:1010px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:3000px;
  top:550px;
  width:120px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:3000px;
  top:1010px;
  width:120px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:3000px;
  top:1410px;
  width:120px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:3630px;
  top:550px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:3630px;
  top:1010px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:3630px;
  top:1410px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:3310px;
  top:1410px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:4100px;
  top:550px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:4100px;
  top:1010px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:4100px;
  top:1410px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:4579px;
  top:1410px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:4579px;
  top:1010px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:4920px;
  top:550px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:4920px;
  top:1010px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:4920px;
  top:1410px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:6190px;
  top:580px;
  width:130px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:6190px;
  top:1010px;
  width:150px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:6190px;
  top:1490px;
  width:70px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:2441px;
  top:1189px;
  width:370px;
  height:331px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:331px;
}
#u26 {
  position:absolute;
  left:2px;
  top:158px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:2442px;
  top:1152px;
  width:369px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:365px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:2809px;
  top:1340px;
  width:1471px;
  height:420px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:420px;
}
#u30 {
  position:absolute;
  left:2px;
  top:202px;
  width:1467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:6180px;
  top:915px;
  width:230px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:28px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:6180px;
  top:802px;
  width:230px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:28px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:6245px;
  top:1460px;
  width:53px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:4286px;
  top:1340px;
  width:952px;
  height:420px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:420px;
}
#u38 {
  position:absolute;
  left:2px;
  top:202px;
  width:948px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:6548px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u3.a {
}
#u4.a {
}
#u5.a {
}
#u6.a {
}
#u7.a {
}
#u8.a {
}
#u9.a {
}
#u10.a {
}
#u11.a {
}
#u12.a {
}
#u13.a {
}
#u14.a {
}
#u15.a {
}
#u16.a {
}
#u17.a {
}
#u18.a {
}
#u19.a {
}
#u20.a {
}
#u21.a {
}
#u22.a {
}
#u23.a {
}
#u24.a {
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
#u31.a {
}
#u33.a {
}
#u35.a {
}
#u37.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:6548px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u3.b {
}
#u4.b {
}
#u5.b {
}
#u6.b {
}
#u7.b {
}
#u8.b {
}
#u9.b {
}
#u10.b {
}
#u11.b {
}
#u12.b {
}
#u13.b {
}
#u14.b {
}
#u15.b {
}
#u16.b {
}
#u17.b {
}
#u18.b {
}
#u19.b {
}
#u20.b {
}
#u21.b {
}
#u22.b {
}
#u23.b {
}
#u24.b {
}
#u25.b {
}
#u27.b {
}
#u29.b {
}
#u31.b {
}
#u33.b {
}
#u35.b {
}
#u37.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:6548px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
}
#u2.c {
}
#u3.c {
}
#u4.c {
}
#u5.c {
}
#u6.c {
}
#u7.c {
}
#u8.c {
}
#u9.c {
}
#u10.c {
}
#u11.c {
}
#u12.c {
}
#u13.c {
}
#u14.c {
}
#u15.c {
}
#u16.c {
}
#u17.c {
}
#u18.c {
}
#u19.c {
}
#u20.c {
}
#u21.c {
}
#u22.c {
}
#u23.c {
}
#u24.c {
}
#u25.c {
}
#u27.c {
}
#u29.c {
}
#u31.c {
}
#u33.c {
}
#u35.c {
}
#u37.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:6548px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
}
#u2.d {
}
#u3.d {
}
#u4.d {
}
#u5.d {
}
#u6.d {
}
#u7.d {
}
#u8.d {
}
#u9.d {
}
#u10.d {
}
#u11.d {
}
#u12.d {
}
#u13.d {
}
#u14.d {
}
#u15.d {
}
#u16.d {
}
#u17.d {
}
#u18.d {
}
#u19.d {
}
#u20.d {
}
#u21.d {
}
#u22.d {
}
#u23.d {
}
#u24.d {
}
#u25.d {
}
#u27.d {
}
#u29.d {
}
#u31.d {
}
#u33.d {
}
#u35.d {
}
#u37.d {
}
