.ax_shape {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_paragraph {
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_h1 {
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h3 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h4 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h5 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h6 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_image {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_text_link {
  color:#0000FF;
}
.ax_text_link_mouse_over {
}
.ax_text_link_mouse_down {
}
.ax_text_field {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_text_area {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_droplist {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_list_box {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_checkbox {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_radio_button {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_flow_shape {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_tree_node {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_html_button {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_hot_spot {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_inline_frame {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_dynamic_panel {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_master {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_repeater {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_table {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_table_cell {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_menu {
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_horizontal_line {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_vertical_line {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_connector {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.primary_cta_button {
  font-family:'', '', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.secondary_cta_button {
}
.text_field_title {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
}
.text_field_label {
  font-family:'ArialMT', 'Arial';
  font-size:14px;
  color:#000000;
}
.text_field_instructional_text {
}
.text_field_error_text {
}
.basicbutton {
  font-family:'', '', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.basicbutton-outline {
  font-family:'', '', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:center;
}
.basictextlabel {
  font-family:'', '', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:13px;
  color:#1BBC9C;
  text-align:center;
}
