body {
  margin:0px;
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:120px;
  width:930px;
  height:149px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:149px;
}
#u1 {
  position:absolute;
  left:2px;
  top:66px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:136px;
  width:839px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:835px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:720px;
  width:429px;
  height:34px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:34px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:756px;
  width:379px;
  height:44px;
  font-size:16px;
  color:#666666;
  line-height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:44px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:690px;
  top:328px;
  width:260px;
  height:340px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:340px;
}
#u9 {
  position:absolute;
  left:2px;
  top:162px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:690px;
  top:720px;
  width:260px;
  height:185px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:185px;
}
#u11 {
  position:absolute;
  left:2px;
  top:84px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:1016px;
  width:960px;
  height:199px;
  color:#6E787A;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:199px;
}
#u13 {
  position:absolute;
  left:2px;
  top:92px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:824px;
  top:1042px;
  width:125px;
  height:102px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u15 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:826px;
  top:1315px;
  width:124px;
  height:17px;
  color:#6E787A;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:1061px;
  width:730px;
  height:90px;
  color:#6E787A;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:90px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:726px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:1001px;
  width:960px;
  height:15px;
  color:#6E787A;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:15px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:21px;
  top:1127px;
  width:40px;
  height:17px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:-26px;
  top:2716px;
  width:320px;
  height:442px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:442px;
}
#u25 {
  position:absolute;
  left:2px;
  top:213px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:59px;
  top:2978px;
  width:125px;
  height:102px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u27 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:61px;
  top:3092px;
  width:124px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:-6px;
  top:2728px;
  width:290px;
  height:230px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:230px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:-26px;
  top:2703px;
  width:320px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u33 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:-5px;
  top:2831px;
  width:40px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:922px;
  width:960px;
  height:199px;
  color:#6E787A;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:199px;
}
#u37 {
  position:absolute;
  left:2px;
  top:92px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:824px;
  top:948px;
  width:125px;
  height:102px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u39 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:826px;
  top:1062px;
  width:124px;
  height:17px;
  color:#6E787A;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:20px;
  top:967px;
  width:730px;
  height:90px;
  color:#6E787A;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:90px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-68px;
  width:726px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:907px;
  width:960px;
  height:15px;
  color:#6E787A;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:15px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:21px;
  top:1016px;
  width:40px;
  height:17px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:21px;
  top:851px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:121px;
  top:851px;
  width:90px;
  height:36px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:21px;
  top:181px;
  width:230px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-1px;
  width:226px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:21px;
  top:851px;
  width:90px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:40px;
  top:328px;
  width:429px;
  height:34px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:34px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:40px;
  top:359px;
  width:371px;
  height:42px;
  font-size:16px;
  color:#666666;
  line-height:22px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:42px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:20px;
  top:270px;
  width:230px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u60 {
  position:absolute;
  left:0px;
  top:-1px;
  width:228px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:80px;
  top:437px;
  width:19px;
  height:37px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u62 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:139px;
  top:437px;
  width:19px;
  height:37px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u64 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:259px;
  top:437px;
  width:19px;
  height:37px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u66 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:40px;
  top:437px;
  width:40px;
  height:36px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:99px;
  top:437px;
  width:40px;
  height:36px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69 {
  position:absolute;
  left:158px;
  top:437px;
  width:100px;
  height:36px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:278px;
  top:437px;
  width:40px;
  height:36px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71 {
  position:absolute;
  left:40px;
  top:500px;
  width:250px;
  height:34px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:40px;
  top:538px;
  width:299px;
  height:44px;
  font-size:16px;
  color:#666666;
  line-height:22px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:44px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:40px;
  top:592px;
  width:40px;
  height:21px;
  font-size:16px;
  color:#1E1E1E;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:100px;
  top:592px;
  width:59px;
  height:21px;
  font-size:16px;
  color:#1E1E1E;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:178px;
  top:592px;
  width:59px;
  height:21px;
  font-size:16px;
  color:#1E1E1E;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:21px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:80px;
  top:620px;
  width:19px;
  height:37px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u82 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:160px;
  top:620px;
  width:19px;
  height:37px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u84 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:40px;
  top:620px;
  width:40px;
  height:36px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86 {
  position:absolute;
  left:99px;
  top:620px;
  width:60px;
  height:36px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87 {
  position:absolute;
  left:179px;
  top:620px;
  width:80px;
  height:36px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88 {
  position:absolute;
  left:40px;
  top:810px;
  width:40px;
  height:36px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89 {
  position:absolute;
  left:20px;
  top:941px;
  width:90px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:120px;
  top:941px;
  width:90px;
  height:36px;
  font-size:14px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u95 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:560px;
  top:10px;
  width:390px;
  height:33px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:33px;
}
#u97 {
  position:absolute;
  left:6px;
  top:0px;
  width:382px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u99 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u103 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u105 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u107 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u109 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u111 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:20px;
  top:64px;
  width:300px;
  height:66px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
}
#u113 {
  position:absolute;
  left:6px;
  top:2px;
  width:292px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u117 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:480px;
  top:10px;
  width:390px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:33px;
}
#u119 {
  position:absolute;
  left:6px;
  top:-12px;
  width:382px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u121 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u123 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u125 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u127 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:0px;
  top:90px;
  width:960px;
  height:10px;
}
#u128_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u129 {
  position:absolute;
  left:580px;
  top:20px;
  width:380px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:right;
  line-height:normal;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:33px;
}
#u130 {
  position:absolute;
  left:6px;
  top:2px;
  width:372px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:10px;
  top:57px;
  width:70px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:80px;
  top:57px;
  width:680px;
  height:30px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:normal;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u134 {
  position:absolute;
  left:10px;
  top:5px;
  width:668px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:214px;
  top:62px;
  width:100px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u136 {
  position:absolute;
  left:56px;
  top:8px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u137 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:31px;
  top:176px;
  width:909px;
  height:54px;
  font-size:18px;
  color:#1E1E1E;
  text-align:left;
  line-height:24px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:54px;
}
#u139 {
  position:absolute;
  left:2px;
  top:2px;
  width:905px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:41px;
  top:409px;
  width:389px;
  height:21px;
  font-size:16px;
  color:#CC0000;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:21px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:20px;
  top:328px;
  width:5px;
  height:145px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:145px;
}
#u143 {
  position:absolute;
  left:2px;
  top:64px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:35px;
  top:238px;
  width:165px;
  height:21px;
  font-size:16px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u20_img.a {
}
#u21.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
}
#u44.a {
}
#u46.a {
}
#u48.a {
}
#u50.a {
}
#u52.a {
}
#u54.a {
}
#u55.a {
}
#u57.a {
}
#u59.a {
}
#u61.a {
}
#u63.a {
}
#u65.a {
}
#u67.a {
  position:absolute;
  left:40px;
  top:437px;
  width:40px;
  height:36px;
}
#u67_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68.a {
  position:absolute;
  left:99px;
  top:437px;
  width:40px;
  height:36px;
}
#u68_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69.a {
  position:absolute;
  left:158px;
  top:437px;
  width:100px;
  height:36px;
}
#u69_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70.a {
  position:absolute;
  left:278px;
  top:437px;
  width:40px;
  height:36px;
}
#u70_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71.a {
}
#u73.a {
}
#u75.a {
}
#u77.a {
}
#u79.a {
}
#u81.a {
}
#u83.a {
}
#u85.a {
  position:absolute;
  left:40px;
  top:620px;
  width:40px;
  height:36px;
}
#u85_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86.a {
  position:absolute;
  left:99px;
  top:620px;
  width:60px;
  height:36px;
}
#u86_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87.a {
  position:absolute;
  left:179px;
  top:620px;
  width:80px;
  height:36px;
}
#u87_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88.a {
  position:absolute;
  left:40px;
  top:810px;
  width:40px;
  height:36px;
}
#u88_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89.a {
}
#u91.a {
}
#u93.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u94.a {
}
#u96.a {
}
#u98.a {
}
#u100.a {
}
#u102.a {
}
#u104.a {
}
#u106.a {
}
#u108.a {
}
#u110.a {
}
#u112.a {
}
#u114.a {
}
#u116.a {
}
#u118.a {
}
#u120.a {
}
#u122.a {
}
#u124.a {
}
#u126.a {
}
#u128.a {
}
#u128_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end.a {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u129.a {
}
#u131.a {
}
#u133.a {
}
#u135.a {
}
#u136.a {
}
#u138.a {
}
#u140.a {
}
#u142.a {
}
#u144.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u4.b {
}
#u6.b {
}
#u8.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
}
#u18.b {
}
#u20.b {
}
#u20_img.b {
}
#u21.b {
}
#u22.b {
}
#u24.b {
}
#u26.b {
}
#u28.b {
}
#u30.b {
}
#u32.b {
}
#u34.b {
}
#u36.b {
}
#u38.b {
}
#u40.b {
}
#u42.b {
}
#u44.b {
}
#u46.b {
}
#u48.b {
}
#u50.b {
}
#u52.b {
}
#u54.b {
}
#u55.b {
}
#u57.b {
}
#u59.b {
}
#u61.b {
}
#u63.b {
}
#u65.b {
}
#u67.b {
  position:absolute;
  left:40px;
  top:437px;
  width:40px;
  height:36px;
}
#u67_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68.b {
  position:absolute;
  left:99px;
  top:437px;
  width:40px;
  height:36px;
}
#u68_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69.b {
  position:absolute;
  left:158px;
  top:437px;
  width:100px;
  height:36px;
}
#u69_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70.b {
  position:absolute;
  left:278px;
  top:437px;
  width:40px;
  height:36px;
}
#u70_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71.b {
}
#u73.b {
}
#u75.b {
}
#u77.b {
}
#u79.b {
}
#u81.b {
}
#u83.b {
}
#u85.b {
  position:absolute;
  left:40px;
  top:620px;
  width:40px;
  height:36px;
}
#u85_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86.b {
  position:absolute;
  left:99px;
  top:620px;
  width:60px;
  height:36px;
}
#u86_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87.b {
  position:absolute;
  left:179px;
  top:620px;
  width:80px;
  height:36px;
}
#u87_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88.b {
  position:absolute;
  left:40px;
  top:810px;
  width:40px;
  height:36px;
}
#u88_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89.b {
}
#u91.b {
}
#u93.b {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u94.b {
}
#u96.b {
}
#u98.b {
}
#u100.b {
}
#u102.b {
}
#u104.b {
}
#u106.b {
}
#u108.b {
}
#u110.b {
}
#u112.b {
}
#u114.b {
}
#u116.b {
}
#u118.b {
}
#u120.b {
}
#u122.b {
}
#u124.b {
}
#u126.b {
}
#u128.b {
}
#u128_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end.b {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u129.b {
}
#u131.b {
}
#u133.b {
}
#u135.b {
}
#u136.b {
}
#u138.b {
}
#u140.b {
}
#u142.b {
}
#u144.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:770px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.c {
  width:750px;
  height:170px;
}
#u0_img.c {
  width:750px;
  height:170px;
}
#u1.c {
  top:77px;
  width:746px;
}
#u2.c {
  width:719px;
}
#u2_img.c {
  width:719px;
}
#u3.c {
  width:715px;
}
#u4.c {
  top:750px;
}
#u4_img.c {
}
#u5.c {
}
#u6.c {
  top:786px;
}
#u6_img.c {
}
#u7.c {
}
#u8.c {
  left:500px;
  top:359px;
}
#u8_img.c {
}
#u9.c {
}
#u10.c {
  left:500px;
  top:750px;
}
#u10_img.c {
}
#u11.c {
}
#u12.c {
  top:1046px;
  width:768px;
  height:264px;
}
#u12_img.c {
  width:768px;
  height:264px;
}
#u13.c {
  top:124px;
  width:764px;
}
#u14.c {
  left:324px;
  top:1170px;
}
#u14_img.c {
}
#u15.c {
}
#u16.c {
  left:326px;
  top:1284px;
}
#u16_img.c {
}
#u17.c {
}
#u18.c {
  top:1070px;
}
#u18_img.c {
}
#u19.c {
}
#u20.c {
  top:1031px;
  width:768px;
}
#u20_img.c {
  width:768px;
}
#u21.c {
  width:764px;
}
#u22.c {
  top:1135px;
}
#u22_img.c {
}
#u23.c {
}
#u24.c {
}
#u26.c {
}
#u28.c {
}
#u28_img.c {
}
#u29.c {
}
#u30.c {
}
#u32.c {
}
#u34.c {
}
#u36.c {
}
#u38.c {
}
#u40.c {
}
#u42.c {
}
#u44.c {
}
#u46.c {
}
#u48.c {
}
#u50.c {
}
#u52.c {
}
#u54.c {
}
#u55.c {
  top:359px;
}
#u55_img.c {
}
#u56.c {
}
#u57.c {
  top:390px;
}
#u57_img.c {
}
#u58.c {
}
#u59.c {
  top:301px;
  width:250px;
}
#u59_img.c {
  width:250px;
}
#u60.c {
  width:248px;
}
#u61.c {
  top:468px;
}
#u61_img.c {
}
#u62.c {
}
#u63.c {
  top:468px;
}
#u63_img.c {
}
#u64.c {
}
#u65.c {
  top:468px;
}
#u65_img.c {
}
#u66.c {
}
#u67.c {
  position:absolute;
  left:40px;
  top:468px;
  width:40px;
  height:36px;
}
#u67_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68.c {
  position:absolute;
  left:99px;
  top:468px;
  width:40px;
  height:36px;
}
#u68_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69.c {
  position:absolute;
  left:158px;
  top:468px;
  width:100px;
  height:36px;
}
#u69_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70.c {
  position:absolute;
  left:278px;
  top:468px;
  width:40px;
  height:36px;
}
#u70_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71.c {
  top:531px;
}
#u71_img.c {
}
#u72.c {
}
#u73.c {
  top:569px;
}
#u73_img.c {
}
#u74.c {
}
#u75.c {
  top:623px;
}
#u75_img.c {
}
#u76.c {
}
#u77.c {
  top:623px;
}
#u77_img.c {
}
#u78.c {
}
#u79.c {
  top:623px;
}
#u79_img.c {
}
#u80.c {
}
#u81.c {
  top:651px;
}
#u81_img.c {
}
#u82.c {
}
#u83.c {
  top:651px;
}
#u83_img.c {
}
#u84.c {
}
#u85.c {
  position:absolute;
  left:40px;
  top:651px;
  width:40px;
  height:36px;
}
#u85_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86.c {
  position:absolute;
  left:99px;
  top:651px;
  width:60px;
  height:36px;
}
#u86_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87.c {
  position:absolute;
  left:179px;
  top:651px;
  width:80px;
  height:36px;
}
#u87_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88.c {
  position:absolute;
  left:40px;
  top:840px;
  width:40px;
  height:36px;
}
#u88_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89.c {
  top:971px;
}
#u89_img.c {
}
#u90.c {
}
#u91.c {
  top:971px;
}
#u91_img.c {
}
#u92.c {
}
#u93.c {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:100px;
}
#u94.c {
  width:770px;
}
#u94_img.c {
  width:770px;
}
#u95.c {
  width:766px;
}
#u96.c {
}
#u96_img.c {
}
#u97.c {
}
#u98.c {
}
#u98_img.c {
}
#u99.c {
}
#u100.c {
}
#u100_img.c {
}
#u101.c {
}
#u102.c {
}
#u102_img.c {
}
#u103.c {
}
#u104.c {
}
#u104_img.c {
}
#u105.c {
}
#u106.c {
}
#u108.c {
}
#u110.c {
}
#u112.c {
}
#u114.c {
}
#u116.c {
}
#u118.c {
}
#u120.c {
}
#u122.c {
}
#u124.c {
}
#u126.c {
}
#u128.c {
  width:770px;
}
#u128_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end.c {
  position:absolute;
  left:753px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line.c {
  position:absolute;
  left:0px;
  top:5px;
  width:770px;
  height:1px;
}
#u129.c {
  left:380px;
  top:10px;
}
#u129_img.c {
}
#u130.c {
}
#u131.c {
}
#u133.c {
}
#u135.c {
}
#u136.c {
}
#u138.c {
  top:178px;
  width:729px;
  height:91px;
}
#u138_img.c {
  width:729px;
  height:91px;
}
#u139.c {
  width:725px;
}
#u140.c {
  top:440px;
}
#u140_img.c {
}
#u141.c {
}
#u142.c {
  top:359px;
}
#u142_img.c {
}
#u143.c {
}
#u144.c {
  top:259px;
}
#u144_img.c {
}
#u145.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.d {
  top:211px;
  width:440px;
  height:280px;
}
#u0_img.d {
  width:440px;
  height:280px;
}
#u1.d {
  top:132px;
  width:436px;
}
#u2.d {
  top:227px;
  width:418px;
  height:66px;
}
#u2_img.d {
  width:418px;
  height:66px;
}
#u3.d {
  width:414px;
}
#u4.d {
  left:41px;
  top:984px;
}
#u4_img.d {
}
#u5.d {
}
#u6.d {
  left:41px;
  top:1015px;
}
#u6_img.d {
}
#u7.d {
}
#u8.d {
  left:40px;
  top:691px;
}
#u8_img.d {
}
#u9.d {
}
#u10.d {
  left:40px;
  top:1557px;
}
#u10_img.d {
}
#u11.d {
}
#u12.d {
  top:1046px;
  width:768px;
  height:264px;
}
#u12_img.d {
  width:768px;
  height:264px;
}
#u13.d {
  top:124px;
  width:764px;
}
#u14.d {
  left:324px;
  top:1170px;
}
#u14_img.d {
}
#u15.d {
}
#u16.d {
  left:326px;
  top:1284px;
}
#u16_img.d {
}
#u17.d {
}
#u18.d {
  top:1070px;
}
#u18_img.d {
}
#u19.d {
}
#u20.d {
  top:1031px;
  width:768px;
}
#u20_img.d {
  width:768px;
}
#u21.d {
  width:764px;
}
#u22.d {
  top:1135px;
}
#u22_img.d {
}
#u23.d {
}
#u24.d {
  left:0px;
  top:1246px;
  width:480px;
  height:377px;
}
#u24_img.d {
  width:480px;
  height:377px;
}
#u25.d {
  top:180px;
  width:476px;
}
#u26.d {
  left:177px;
  top:1464px;
}
#u26_img.d {
}
#u27.d {
}
#u28.d {
  left:179px;
  top:1578px;
}
#u28_img.d {
}
#u29.d {
}
#u30.d {
  left:20px;
  top:1258px;
  width:450px;
  height:185px;
}
#u30_img.d {
  width:450px;
  height:185px;
}
#u31.d {
  width:446px;
}
#u32.d {
  left:0px;
  top:1233px;
  width:480px;
}
#u32_img.d {
  width:480px;
}
#u33.d {
  width:476px;
}
#u34.d {
  left:21px;
  top:1373px;
}
#u34_img.d {
}
#u35.d {
}
#u36.d {
}
#u38.d {
}
#u40.d {
}
#u42.d {
}
#u44.d {
}
#u46.d {
}
#u48.d {
}
#u50.d {
}
#u52.d {
}
#u54.d {
}
#u55.d {
  top:560px;
}
#u55_img.d {
}
#u56.d {
}
#u57.d {
  top:592px;
  width:429px;
}
#u57_img.d {
  width:429px;
}
#u58.d {
  width:429px;
}
#u59.d {
  top:502px;
  width:250px;
}
#u59_img.d {
  width:250px;
}
#u60.d {
  width:248px;
}
#u61.d {
  top:674px;
}
#u61_img.d {
}
#u62.d {
}
#u63.d {
  top:674px;
}
#u63_img.d {
}
#u64.d {
}
#u65.d {
  top:674px;
}
#u65_img.d {
}
#u66.d {
}
#u67.d {
  position:absolute;
  left:40px;
  top:674px;
  width:40px;
  height:36px;
}
#u67_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68.d {
  position:absolute;
  left:99px;
  top:674px;
  width:40px;
  height:36px;
}
#u68_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69.d {
  position:absolute;
  left:158px;
  top:674px;
  width:100px;
  height:36px;
}
#u69_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70.d {
  position:absolute;
  left:278px;
  top:674px;
  width:40px;
  height:36px;
}
#u70_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71.d {
  top:772px;
}
#u71_img.d {
}
#u72.d {
}
#u73.d {
  top:810px;
}
#u73_img.d {
}
#u74.d {
}
#u75.d {
  top:864px;
}
#u75_img.d {
}
#u76.d {
}
#u77.d {
  top:864px;
}
#u77_img.d {
}
#u78.d {
}
#u79.d {
  top:864px;
}
#u79_img.d {
}
#u80.d {
}
#u81.d {
  top:892px;
}
#u81_img.d {
}
#u82.d {
}
#u83.d {
  top:892px;
}
#u83_img.d {
}
#u84.d {
}
#u85.d {
  position:absolute;
  left:40px;
  top:892px;
  width:40px;
  height:36px;
}
#u85_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86.d {
  position:absolute;
  left:99px;
  top:892px;
  width:60px;
  height:36px;
}
#u86_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87.d {
  position:absolute;
  left:179px;
  top:892px;
  width:80px;
  height:36px;
}
#u87_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88.d {
  position:absolute;
  left:40px;
  top:1069px;
  width:40px;
  height:36px;
}
#u88_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89.d {
  top:1163px;
}
#u89_img.d {
}
#u90.d {
}
#u91.d {
  top:1163px;
}
#u91_img.d {
}
#u92.d {
}
#u93.d {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:175px;
}
#u94.d {
  width:770px;
}
#u94_img.d {
  width:770px;
}
#u95.d {
  width:766px;
}
#u96.d {
}
#u96_img.d {
}
#u97.d {
}
#u98.d {
}
#u98_img.d {
}
#u99.d {
}
#u100.d {
}
#u100_img.d {
}
#u101.d {
}
#u102.d {
}
#u102_img.d {
}
#u103.d {
}
#u104.d {
}
#u104_img.d {
}
#u105.d {
}
#u106.d {
  width:480px;
  height:121px;
}
#u106_img.d {
  width:480px;
  height:121px;
}
#u107.d {
  top:52px;
  width:476px;
}
#u108.d {
}
#u108_img.d {
}
#u109.d {
}
#u110.d {
}
#u110_img.d {
}
#u111.d {
}
#u112.d {
  left:10px;
  width:460px;
  height:46px;
}
#u112_img.d {
  width:460px;
  height:46px;
}
#u113.d {
  width:452px;
}
#u114.d {
}
#u114_img.d {
}
#u115.d {
}
#u116.d {
  width:480px;
  height:121px;
}
#u116_img.d {
  width:480px;
  height:121px;
}
#u117.d {
  top:52px;
  width:476px;
}
#u118.d {
}
#u120.d {
}
#u122.d {
}
#u124.d {
}
#u126.d {
}
#u128.d {
  top:165px;
  width:480px;
}
#u128_start.d {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end.d {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line.d {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u129.d {
  left:380px;
  top:10px;
}
#u129_img.d {
}
#u130.d {
}
#u131.d {
  top:132px;
}
#u131_img.d {
}
#u132.d {
}
#u133.d {
  top:132px;
  width:260px;
}
#u133_img.d {
  width:260px;
}
#u134.d {
  top:-4px;
  width:248px;
}
#u135.d {
  left:230px;
  top:131px;
}
#u136.d {
}
#u138.d {
  top:303px;
  width:429px;
  height:127px;
}
#u138_img.d {
  width:429px;
  height:127px;
}
#u139.d {
  width:425px;
}
#u140.d {
  left:40px;
  top:646px;
}
#u140_img.d {
}
#u141.d {
}
#u142.d {
  top:560px;
  height:150px;
}
#u142_img.d {
  height:150px;
}
#u143.d {
  top:67px;
}
#u144.d {
  top:440px;
}
#u144_img.d {
}
#u145.d {
}
body.e {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:329px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.e {
  top:221px;
  width:283px;
  height:359px;
}
#u0_img.e {
  width:283px;
  height:359px;
}
#u1.e {
  top:172px;
  width:279px;
}
#u2.e {
  top:227px;
  width:259px;
  height:103px;
}
#u2_img.e {
  width:259px;
  height:103px;
}
#u3.e {
  width:255px;
}
#u4.e {
  top:1143px;
  width:269px;
  height:68px;
}
#u4_img.e {
  width:269px;
  height:68px;
}
#u5.e {
  width:269px;
}
#u6.e {
  top:1215px;
  width:269px;
}
#u6_img.e {
  width:269px;
}
#u7.e {
  width:269px;
}
#u8.e {
  left:40px;
  top:691px;
}
#u8_img.e {
}
#u9.e {
}
#u10.e {
  left:40px;
  top:1557px;
}
#u10_img.e {
}
#u11.e {
}
#u12.e {
  top:1046px;
  width:768px;
  height:264px;
}
#u12_img.e {
  width:768px;
  height:264px;
}
#u13.e {
  top:124px;
  width:764px;
}
#u14.e {
  left:324px;
  top:1170px;
}
#u14_img.e {
}
#u15.e {
}
#u16.e {
  left:326px;
  top:1284px;
}
#u16_img.e {
}
#u17.e {
}
#u18.e {
  top:1070px;
}
#u18_img.e {
}
#u19.e {
}
#u20.e {
  top:1031px;
  width:768px;
}
#u20_img.e {
  width:768px;
}
#u21.e {
  width:764px;
}
#u22.e {
  top:1135px;
}
#u22_img.e {
}
#u23.e {
}
#u24.e {
  left:0px;
  top:1246px;
  width:480px;
  height:377px;
}
#u24_img.e {
  width:480px;
  height:377px;
}
#u25.e {
  top:180px;
  width:476px;
}
#u26.e {
  left:177px;
  top:1464px;
}
#u26_img.e {
}
#u27.e {
}
#u28.e {
  left:179px;
  top:1578px;
}
#u28_img.e {
}
#u29.e {
}
#u30.e {
  left:20px;
  top:1258px;
  width:450px;
  height:185px;
}
#u30_img.e {
  width:450px;
  height:185px;
}
#u31.e {
  width:446px;
}
#u32.e {
  left:0px;
  top:1233px;
  width:480px;
}
#u32_img.e {
  width:480px;
}
#u33.e {
  width:476px;
}
#u34.e {
  left:21px;
  top:1373px;
}
#u34_img.e {
}
#u35.e {
}
#u36.e {
  top:1453px;
  width:320px;
  height:442px;
}
#u36_img.e {
  width:320px;
  height:442px;
}
#u37.e {
  top:213px;
  width:316px;
}
#u38.e {
  left:85px;
  top:1715px;
}
#u38_img.e {
}
#u39.e {
}
#u40.e {
  left:87px;
  top:1829px;
}
#u40_img.e {
}
#u41.e {
}
#u42.e {
  top:1465px;
  width:290px;
  height:230px;
}
#u42_img.e {
  width:290px;
  height:230px;
}
#u43.e {
  top:2px;
  width:286px;
}
#u44.e {
  top:1440px;
  width:320px;
}
#u44_img.e {
  width:320px;
}
#u45.e {
  width:316px;
}
#u46.e {
  top:1585px;
}
#u46_img.e {
}
#u47.e {
}
#u48.e {
  top:1365px;
}
#u48_img.e {
}
#u49.e {
}
#u50.e {
  top:1365px;
}
#u50_img.e {
}
#u51.e {
}
#u52.e {
  left:20px;
  top:599px;
}
#u52_img.e {
}
#u53.e {
}
#u54.e {
  top:1365px;
}
#u55.e {
  top:661px;
  width:260px;
  height:68px;
}
#u55_img.e {
  width:260px;
  height:68px;
}
#u56.e {
  width:260px;
}
#u57.e {
  top:740px;
  width:258px;
  height:77px;
}
#u57_img.e {
  width:258px;
  height:77px;
}
#u58.e {
  width:258px;
}
#u59.e {
  top:502px;
  width:250px;
}
#u59_img.e {
  width:250px;
}
#u60.e {
  width:248px;
}
#u61.e {
  top:866px;
}
#u61_img.e {
}
#u62.e {
}
#u63.e {
  top:866px;
}
#u63_img.e {
}
#u64.e {
}
#u65.e {
  top:866px;
}
#u65_img.e {
}
#u66.e {
}
#u67.e {
  position:absolute;
  left:40px;
  top:866px;
  width:40px;
  height:36px;
}
#u67_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68.e {
  position:absolute;
  left:99px;
  top:866px;
  width:40px;
  height:36px;
}
#u68_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69.e {
  position:absolute;
  left:158px;
  top:866px;
  width:100px;
  height:36px;
}
#u69_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70.e {
  position:absolute;
  left:278px;
  top:866px;
  width:40px;
  height:36px;
}
#u70_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71.e {
  top:940px;
  width:279px;
}
#u71_img.e {
  width:279px;
}
#u72.e {
  width:279px;
}
#u73.e {
  top:978px;
  width:289px;
}
#u73_img.e {
  width:289px;
}
#u74.e {
  width:289px;
}
#u75.e {
  top:1032px;
}
#u75_img.e {
}
#u76.e {
}
#u77.e {
  top:1032px;
}
#u77_img.e {
}
#u78.e {
}
#u79.e {
  top:1032px;
}
#u79_img.e {
}
#u80.e {
}
#u81.e {
  top:1060px;
}
#u81_img.e {
}
#u82.e {
}
#u83.e {
  top:1060px;
}
#u83_img.e {
}
#u84.e {
}
#u85.e {
  position:absolute;
  left:40px;
  top:1060px;
  width:40px;
  height:36px;
}
#u85_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86.e {
  position:absolute;
  left:99px;
  top:1060px;
  width:60px;
  height:36px;
}
#u86_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87.e {
  position:absolute;
  left:179px;
  top:1060px;
  width:80px;
  height:36px;
}
#u87_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88.e {
  position:absolute;
  left:40px;
  top:1269px;
  width:40px;
  height:36px;
}
#u88_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89.e {
  top:1163px;
}
#u89_img.e {
}
#u90.e {
}
#u91.e {
  top:1163px;
}
#u91_img.e {
}
#u92.e {
}
#u93.e {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:186px;
}
#u94.e {
  width:770px;
}
#u94_img.e {
  width:770px;
}
#u95.e {
  width:766px;
}
#u96.e {
}
#u96_img.e {
}
#u97.e {
}
#u98.e {
}
#u98_img.e {
}
#u99.e {
}
#u100.e {
}
#u100_img.e {
}
#u101.e {
}
#u102.e {
}
#u102_img.e {
}
#u103.e {
}
#u104.e {
}
#u104_img.e {
}
#u105.e {
}
#u106.e {
  width:320px;
  height:131px;
}
#u106_img.e {
  width:320px;
  height:131px;
}
#u107.e {
  top:58px;
  width:316px;
}
#u108.e {
}
#u108_img.e {
}
#u109.e {
}
#u110.e {
}
#u110_img.e {
}
#u111.e {
}
#u112.e {
  left:10px;
  width:460px;
  height:46px;
}
#u112_img.e {
  width:460px;
  height:46px;
}
#u113.e {
  width:452px;
}
#u114.e {
}
#u114_img.e {
}
#u115.e {
}
#u116.e {
  width:320px;
  height:131px;
}
#u116_img.e {
  width:320px;
  height:131px;
}
#u117.e {
  top:58px;
  width:316px;
}
#u118.e {
  left:10px;
  top:54px;
  width:300px;
  height:66px;
}
#u118_img.e {
  width:300px;
  height:66px;
}
#u119.e {
  top:2px;
  width:292px;
}
#u120.e {
}
#u120_img.e {
}
#u121.e {
}
#u122.e {
}
#u122_img.e {
}
#u123.e {
}
#u124.e {
}
#u124_img.e {
}
#u125.e {
}
#u126.e {
}
#u126_img.e {
}
#u127.e {
}
#u128.e {
  top:176px;
  width:320px;
}
#u128_start.e {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end.e {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line.e {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u129.e {
  left:380px;
  top:10px;
}
#u129_img.e {
}
#u130.e {
}
#u131.e {
  top:140px;
}
#u131_img.e {
}
#u132.e {
}
#u133.e {
  top:139px;
  width:230px;
  height:31px;
}
#u133_img.e {
  width:230px;
  height:31px;
}
#u134.e {
  top:0px;
  width:220px;
}
#u135.e {
  left:90px;
  top:154px;
}
#u136.e {
}
#u138.e {
  top:330px;
  width:259px;
}
#u138_img.e {
  width:259px;
}
#u139.e {
  width:255px;
}
#u140.e {
  left:40px;
  top:817px;
  width:278px;
}
#u140_img.e {
  width:278px;
}
#u141.e {
  width:278px;
}
#u142.e {
  top:661px;
  height:242px;
}
#u142_img.e {
  height:242px;
}
#u143.e {
  top:113px;
}
#u144.e {
  top:532px;
  width:175px;
}
#u144_img.e {
  width:175px;
}
#u145.e {
  width:175px;
}
