body {
  margin:0px;
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:915px;
  width:960px;
  height:199px;
  color:#6E787A;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:199px;
}
#u1 {
  position:absolute;
  left:2px;
  top:92px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:824px;
  top:950px;
  width:125px;
  height:102px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u3 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:826px;
  top:1064px;
  width:124px;
  height:17px;
  color:#6E787A;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:960px;
  width:730px;
  height:90px;
  color:#6E787A;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:726px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:900px;
  width:960px;
  height:15px;
  color:#6E787A;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:21px;
  top:1026px;
  width:40px;
  height:17px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:-26px;
  top:2716px;
  width:320px;
  height:442px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:442px;
}
#u13 {
  position:absolute;
  left:2px;
  top:213px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:59px;
  top:2978px;
  width:125px;
  height:102px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u15 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:61px;
  top:3092px;
  width:124px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:-6px;
  top:2728px;
  width:290px;
  height:230px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E787A;
  text-align:left;
  line-height:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:230px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:286px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:-26px;
  top:2703px;
  width:320px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E787A;
  text-align:center;
  line-height:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:15px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:-5px;
  top:2831px;
  width:40px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:922px;
  width:960px;
  height:199px;
  color:#6E787A;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:199px;
}
#u25 {
  position:absolute;
  left:2px;
  top:92px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:824px;
  top:948px;
  width:125px;
  height:102px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:102px;
}
#u27 {
  position:absolute;
  left:2px;
  top:43px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:826px;
  top:1062px;
  width:124px;
  height:17px;
  color:#6E787A;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:967px;
  width:730px;
  height:90px;
  color:#6E787A;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:90px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-68px;
  width:726px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:907px;
  width:960px;
  height:15px;
  color:#6E787A;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:15px;
}
#u33 {
  position:absolute;
  left:2px;
  top:0px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:21px;
  top:1016px;
  width:40px;
  height:17px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:20px;
  top:258px;
  width:371px;
  height:42px;
  font-size:16px;
  color:#666666;
  line-height:22px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:42px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:20px;
  top:120px;
  width:470px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:40px;
}
#u39 {
  position:absolute;
  left:0px;
  top:-8px;
  width:468px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:560px;
  top:10px;
  width:390px;
  height:33px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:33px;
}
#u44 {
  position:absolute;
  left:6px;
  top:0px;
  width:382px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u50 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u56 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:20px;
  top:64px;
  width:300px;
  height:66px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
}
#u60 {
  position:absolute;
  left:6px;
  top:2px;
  width:292px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:480px;
  top:10px;
  width:390px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:33px;
}
#u66 {
  position:absolute;
  left:6px;
  top:-12px;
  width:382px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u68 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:56px;
  top:9px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u72 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:10px;
  top:5px;
  width:46px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  line-height:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:90px;
  width:960px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u76 {
  position:absolute;
  left:580px;
  top:20px;
  width:380px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:right;
  line-height:normal;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:33px;
}
#u77 {
  position:absolute;
  left:6px;
  top:2px;
  width:372px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:10px;
  top:57px;
  width:70px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:80px;
  top:57px;
  width:680px;
  height:30px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:normal;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:30px;
}
#u81 {
  position:absolute;
  left:10px;
  top:5px;
  width:668px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:214px;
  top:62px;
  width:100px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83 {
  position:absolute;
  left:56px;
  top:8px;
  width:124px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  line-height:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u84 {
  position:absolute;
  left:6px;
  top:-30px;
  width:116px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:690px;
  top:364px;
  width:260px;
  height:154px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:154px;
}
#u86 {
  position:absolute;
  left:2px;
  top:69px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:768px;
  top:333px;
  width:182px;
  height:157px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:157px;
}
#u88 {
  position:absolute;
  left:2px;
  top:70px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:21px;
  top:171px;
  width:839px;
  height:20px;
  font-size:19px;
  line-height:20px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:20px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:20px;
  top:220px;
  width:360px;
  height:34px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:20px;
  top:548px;
  width:561px;
  height:288px;
  font-size:18px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:288px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:20px;
  top:510px;
  width:429px;
  height:34px;
  font-family:'GDSTransportWebsite-Bold', 'GDS Transport Website Bold', 'GDS Transport Website';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:34px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:20px;
  top:470px;
  width:910px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:893px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:910px;
  height:1px;
}
#u98 {
  position:absolute;
  left:20px;
  top:400px;
  width:118px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u98_img.mouseOver {
}
#u98.mouseOver {
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:60px;
  top:320px;
  width:19px;
  height:37px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u101 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:119px;
  top:320px;
  width:19px;
  height:37px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u103 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:239px;
  top:320px;
  width:19px;
  height:37px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#666666;
  text-align:center;
  line-height:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u105 {
  position:absolute;
  left:0px;
  top:5px;
  width:19px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:20px;
  top:320px;
  width:40px;
  height:36px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107 {
  position:absolute;
  left:79px;
  top:320px;
  width:40px;
  height:36px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108 {
  position:absolute;
  left:138px;
  top:320px;
  width:100px;
  height:36px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109 {
  position:absolute;
  left:258px;
  top:320px;
  width:40px;
  height:36px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u8_img.a {
}
#u9.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u41.a {
}
#u43.a {
}
#u45.a {
}
#u47.a {
}
#u49.a {
}
#u51.a {
}
#u53.a {
}
#u55.a {
}
#u57.a {
}
#u59.a {
}
#u61.a {
}
#u63.a {
}
#u65.a {
}
#u67.a {
}
#u69.a {
}
#u71.a {
}
#u73.a {
}
#u75.a {
}
#u75_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end.a {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u76.a {
}
#u78.a {
}
#u80.a {
}
#u82.a {
}
#u83.a {
}
#u85.a {
}
#u87.a {
}
#u89.a {
}
#u91.a {
}
#u93.a {
}
#u95.a {
}
#u97.a {
}
#u97_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end.a {
  position:absolute;
  left:893px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:910px;
  height:1px;
}
#u98.a {
}
#u100.a {
}
#u102.a {
}
#u104.a {
}
#u106.a {
  position:absolute;
  left:20px;
  top:320px;
  width:40px;
  height:36px;
}
#u106_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107.a {
  position:absolute;
  left:79px;
  top:320px;
  width:40px;
  height:36px;
}
#u107_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108.a {
  position:absolute;
  left:138px;
  top:320px;
  width:100px;
  height:36px;
}
#u108_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109.a {
  position:absolute;
  left:258px;
  top:320px;
  width:40px;
  height:36px;
}
#u109_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u4.b {
}
#u6.b {
}
#u8.b {
}
#u8_img.b {
}
#u9.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
}
#u18.b {
}
#u20.b {
}
#u22.b {
}
#u24.b {
}
#u26.b {
}
#u28.b {
}
#u30.b {
}
#u32.b {
}
#u34.b {
}
#u36.b {
}
#u38.b {
}
#u40.b {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u41.b {
}
#u43.b {
}
#u45.b {
}
#u47.b {
}
#u49.b {
}
#u51.b {
}
#u53.b {
}
#u55.b {
}
#u57.b {
}
#u59.b {
}
#u61.b {
}
#u63.b {
}
#u65.b {
}
#u67.b {
}
#u69.b {
}
#u71.b {
}
#u73.b {
}
#u75.b {
}
#u75_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end.b {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u76.b {
}
#u78.b {
}
#u80.b {
}
#u82.b {
}
#u83.b {
}
#u85.b {
}
#u87.b {
}
#u89.b {
}
#u91.b {
}
#u93.b {
}
#u95.b {
}
#u97.b {
}
#u97_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end.b {
  position:absolute;
  left:893px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:910px;
  height:1px;
}
#u98.b {
}
#u100.b {
}
#u102.b {
}
#u104.b {
}
#u106.b {
  position:absolute;
  left:20px;
  top:320px;
  width:40px;
  height:36px;
}
#u106_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107.b {
  position:absolute;
  left:79px;
  top:320px;
  width:40px;
  height:36px;
}
#u107_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108.b {
  position:absolute;
  left:138px;
  top:320px;
  width:100px;
  height:36px;
}
#u108_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109.b {
  position:absolute;
  left:258px;
  top:320px;
  width:40px;
  height:36px;
}
#u109_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:860px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.c {
  width:768px;
  height:249px;
}
#u0_img.c {
  width:768px;
  height:249px;
}
#u1.c {
  top:116px;
  width:764px;
}
#u2.c {
  left:324px;
  top:1033px;
}
#u2_img.c {
}
#u3.c {
}
#u4.c {
  left:326px;
  top:1147px;
}
#u4_img.c {
}
#u5.c {
}
#u6.c {
  top:933px;
}
#u6_img.c {
}
#u7.c {
}
#u8.c {
  width:768px;
}
#u8_img.c {
  width:768px;
}
#u9.c {
  width:764px;
}
#u10.c {
  top:998px;
}
#u10_img.c {
}
#u11.c {
}
#u12.c {
}
#u14.c {
}
#u16.c {
}
#u16_img.c {
}
#u17.c {
}
#u18.c {
}
#u20.c {
}
#u22.c {
}
#u24.c {
}
#u26.c {
}
#u28.c {
}
#u30.c {
}
#u32.c {
}
#u34.c {
}
#u36.c {
}
#u38.c {
}
#u40.c {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:100px;
}
#u41.c {
  width:770px;
}
#u41_img.c {
  width:770px;
}
#u42.c {
  width:766px;
}
#u43.c {
}
#u43_img.c {
}
#u44.c {
}
#u45.c {
}
#u45_img.c {
}
#u46.c {
}
#u47.c {
}
#u47_img.c {
}
#u48.c {
}
#u49.c {
}
#u49_img.c {
}
#u50.c {
}
#u51.c {
}
#u51_img.c {
}
#u52.c {
}
#u53.c {
}
#u55.c {
}
#u57.c {
}
#u59.c {
}
#u61.c {
}
#u63.c {
}
#u65.c {
}
#u67.c {
}
#u69.c {
}
#u71.c {
}
#u73.c {
}
#u75.c {
  width:770px;
}
#u75_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end.c {
  position:absolute;
  left:753px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line.c {
  position:absolute;
  left:0px;
  top:5px;
  width:770px;
  height:1px;
}
#u76.c {
  left:380px;
  top:10px;
}
#u76_img.c {
}
#u77.c {
}
#u78.c {
}
#u80.c {
}
#u82.c {
}
#u83.c {
}
#u85.c {
  left:502px;
  top:371px;
}
#u85_img.c {
}
#u86.c {
}
#u87.c {
  left:580px;
  top:340px;
}
#u87_img.c {
}
#u88.c {
}
#u89.c {
}
#u89_img.c {
}
#u90.c {
}
#u91.c {
  width:429px;
}
#u91_img.c {
  width:429px;
}
#u92.c {
  width:429px;
}
#u93.c {
}
#u95.c {
}
#u95_img.c {
}
#u96.c {
}
#u97.c {
  width:730px;
}
#u97_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end.c {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line.c {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u98.c {
}
#u100.c {
}
#u102.c {
}
#u104.c {
}
#u106.c {
  position:absolute;
  left:20px;
  top:320px;
  width:40px;
  height:36px;
}
#u106_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107.c {
  position:absolute;
  left:79px;
  top:320px;
  width:40px;
  height:36px;
}
#u107_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108.c {
  position:absolute;
  left:138px;
  top:320px;
  width:100px;
  height:36px;
}
#u108_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109.c {
  position:absolute;
  left:258px;
  top:320px;
  width:40px;
  height:36px;
}
#u109_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:490px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.d {
  width:768px;
  height:249px;
}
#u0_img.d {
  width:768px;
  height:249px;
}
#u1.d {
  top:116px;
  width:764px;
}
#u2.d {
  left:324px;
  top:1033px;
}
#u2_img.d {
}
#u3.d {
}
#u4.d {
  left:326px;
  top:1147px;
}
#u4_img.d {
}
#u5.d {
}
#u6.d {
  top:933px;
}
#u6_img.d {
}
#u7.d {
}
#u8.d {
  width:768px;
}
#u8_img.d {
  width:768px;
}
#u9.d {
  width:764px;
}
#u10.d {
  top:998px;
}
#u10_img.d {
}
#u11.d {
}
#u12.d {
  left:0px;
  top:963px;
  width:480px;
  height:377px;
}
#u12_img.d {
  width:480px;
  height:377px;
}
#u13.d {
  top:180px;
  width:476px;
}
#u14.d {
  left:177px;
  top:1181px;
}
#u14_img.d {
}
#u15.d {
}
#u16.d {
  left:179px;
  top:1295px;
}
#u16_img.d {
}
#u17.d {
}
#u18.d {
  left:20px;
  top:975px;
  width:450px;
  height:185px;
}
#u18_img.d {
  width:450px;
  height:185px;
}
#u19.d {
  width:446px;
}
#u20.d {
  left:0px;
  top:950px;
  width:480px;
}
#u20_img.d {
  width:480px;
}
#u21.d {
  width:476px;
}
#u22.d {
  left:21px;
  top:1090px;
}
#u22_img.d {
}
#u23.d {
}
#u24.d {
}
#u26.d {
}
#u28.d {
}
#u30.d {
}
#u32.d {
}
#u34.d {
}
#u36.d {
  top:349px;
  width:429px;
}
#u36_img.d {
  width:429px;
}
#u37.d {
  width:429px;
}
#u38.d {
  top:201px;
}
#u38_img.d {
}
#u39.d {
}
#u40.d {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:175px;
}
#u41.d {
  width:770px;
}
#u41_img.d {
  width:770px;
}
#u42.d {
  width:766px;
}
#u43.d {
}
#u43_img.d {
}
#u44.d {
}
#u45.d {
}
#u45_img.d {
}
#u46.d {
}
#u47.d {
}
#u47_img.d {
}
#u48.d {
}
#u49.d {
}
#u49_img.d {
}
#u50.d {
}
#u51.d {
}
#u51_img.d {
}
#u52.d {
}
#u53.d {
  width:480px;
  height:121px;
}
#u53_img.d {
  width:480px;
  height:121px;
}
#u54.d {
  top:52px;
  width:476px;
}
#u55.d {
}
#u55_img.d {
}
#u56.d {
}
#u57.d {
}
#u57_img.d {
}
#u58.d {
}
#u59.d {
  left:10px;
  width:460px;
  height:46px;
}
#u59_img.d {
  width:460px;
  height:46px;
}
#u60.d {
  width:452px;
}
#u61.d {
}
#u61_img.d {
}
#u62.d {
}
#u63.d {
  width:480px;
  height:121px;
}
#u63_img.d {
  width:480px;
  height:121px;
}
#u64.d {
  top:52px;
  width:476px;
}
#u65.d {
}
#u67.d {
}
#u69.d {
}
#u71.d {
}
#u73.d {
}
#u75.d {
  top:165px;
  width:480px;
}
#u75_start.d {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end.d {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line.d {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u76.d {
  left:380px;
  top:10px;
}
#u76_img.d {
}
#u77.d {
}
#u78.d {
  top:132px;
}
#u78_img.d {
}
#u79.d {
}
#u80.d {
  top:132px;
  width:260px;
}
#u80_img.d {
  width:260px;
}
#u81.d {
  top:-4px;
  width:248px;
}
#u82.d {
  left:220px;
  top:128px;
  width:90px;
}
#u83.d {
}
#u85.d {
  left:502px;
  top:371px;
}
#u85_img.d {
}
#u86.d {
}
#u87.d {
  left:580px;
  top:340px;
}
#u87_img.d {
}
#u88.d {
}
#u89.d {
  top:252px;
  width:439px;
  height:40px;
}
#u89_img.d {
  width:439px;
  height:40px;
}
#u90.d {
  width:439px;
}
#u91.d {
  top:317px;
  width:429px;
}
#u91_img.d {
  width:429px;
}
#u92.d {
  width:429px;
}
#u93.d {
  top:618px;
  width:440px;
}
#u93_img.d {
  width:440px;
}
#u94.d {
  width:440px;
}
#u95.d {
  top:580px;
}
#u95_img.d {
}
#u96.d {
}
#u97.d {
  top:550px;
  width:440px;
}
#u97_start.d {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end.d {
  position:absolute;
  left:423px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line.d {
  position:absolute;
  left:0px;
  top:5px;
  width:440px;
  height:1px;
}
#u98.d {
  top:480px;
}
#u98_img.d {
}
#u98_img.d.mouseOver {
}
#u99.d {
}
#u100.d {
  top:403px;
}
#u100_img.d {
}
#u101.d {
}
#u102.d {
  top:403px;
}
#u102_img.d {
}
#u103.d {
}
#u104.d {
  top:403px;
}
#u104_img.d {
}
#u105.d {
}
#u106.d {
  position:absolute;
  left:20px;
  top:403px;
  width:40px;
  height:36px;
}
#u106_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107.d {
  position:absolute;
  left:79px;
  top:403px;
  width:40px;
  height:36px;
}
#u107_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108.d {
  position:absolute;
  left:138px;
  top:403px;
  width:100px;
  height:36px;
}
#u108_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109.d {
  position:absolute;
  left:258px;
  top:403px;
  width:40px;
  height:36px;
}
#u109_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
body.e {  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/1_2_0_case_details/bg.gif');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.e {
  width:768px;
  height:249px;
}
#u0_img.e {
  width:768px;
  height:249px;
}
#u1.e {
  top:116px;
  width:764px;
}
#u2.e {
  left:324px;
  top:1033px;
}
#u2_img.e {
}
#u3.e {
}
#u4.e {
  left:326px;
  top:1147px;
}
#u4_img.e {
}
#u5.e {
}
#u6.e {
  top:933px;
}
#u6_img.e {
}
#u7.e {
}
#u8.e {
  width:768px;
}
#u8_img.e {
  width:768px;
}
#u9.e {
  width:764px;
}
#u10.e {
  top:998px;
}
#u10_img.e {
}
#u11.e {
}
#u12.e {
  left:0px;
  top:963px;
  width:480px;
  height:377px;
}
#u12_img.e {
  width:480px;
  height:377px;
}
#u13.e {
  top:180px;
  width:476px;
}
#u14.e {
  left:177px;
  top:1181px;
}
#u14_img.e {
}
#u15.e {
}
#u16.e {
  left:179px;
  top:1295px;
}
#u16_img.e {
}
#u17.e {
}
#u18.e {
  left:20px;
  top:975px;
  width:450px;
  height:185px;
}
#u18_img.e {
  width:450px;
  height:185px;
}
#u19.e {
  width:446px;
}
#u20.e {
  left:0px;
  top:950px;
  width:480px;
}
#u20_img.e {
  width:480px;
}
#u21.e {
  width:476px;
}
#u22.e {
  left:21px;
  top:1090px;
}
#u22_img.e {
}
#u23.e {
}
#u24.e {
  top:1244px;
  width:320px;
  height:442px;
}
#u24_img.e {
  width:320px;
  height:442px;
}
#u25.e {
  top:213px;
  width:316px;
}
#u26.e {
  left:85px;
  top:1506px;
}
#u26_img.e {
}
#u27.e {
}
#u28.e {
  left:87px;
  top:1620px;
}
#u28_img.e {
}
#u29.e {
}
#u30.e {
  top:1256px;
  width:290px;
  height:230px;
}
#u30_img.e {
  width:290px;
  height:230px;
}
#u31.e {
  top:2px;
  width:286px;
}
#u32.e {
  top:1231px;
  width:320px;
}
#u32_img.e {
  width:320px;
}
#u33.e {
  width:316px;
}
#u34.e {
  top:1376px;
}
#u34_img.e {
}
#u35.e {
}
#u36.e {
  top:543px;
  width:289px;
  height:22px;
}
#u36_img.e {
  width:289px;
  height:22px;
}
#u37.e {
  width:289px;
}
#u38.e {
  top:201px;
  width:270px;
}
#u38_img.e {
  width:270px;
}
#u39.e {
  top:2px;
  width:268px;
}
#u40.e {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:186px;
}
#u41.e {
  width:770px;
}
#u41_img.e {
  width:770px;
}
#u42.e {
  width:766px;
}
#u43.e {
}
#u43_img.e {
}
#u44.e {
}
#u45.e {
}
#u45_img.e {
}
#u46.e {
}
#u47.e {
}
#u47_img.e {
}
#u48.e {
}
#u49.e {
}
#u49_img.e {
}
#u50.e {
}
#u51.e {
}
#u51_img.e {
}
#u52.e {
}
#u53.e {
  width:320px;
  height:131px;
}
#u53_img.e {
  width:320px;
  height:131px;
}
#u54.e {
  top:58px;
  width:316px;
}
#u55.e {
}
#u55_img.e {
}
#u56.e {
}
#u57.e {
}
#u57_img.e {
}
#u58.e {
}
#u59.e {
  left:10px;
  width:460px;
  height:46px;
}
#u59_img.e {
  width:460px;
  height:46px;
}
#u60.e {
  width:452px;
}
#u61.e {
}
#u61_img.e {
}
#u62.e {
}
#u63.e {
  width:320px;
  height:131px;
}
#u63_img.e {
  width:320px;
  height:131px;
}
#u64.e {
  top:58px;
  width:316px;
}
#u65.e {
  left:10px;
  top:54px;
  width:300px;
  height:66px;
}
#u65_img.e {
  width:300px;
  height:66px;
}
#u66.e {
  top:2px;
  width:292px;
}
#u67.e {
}
#u67_img.e {
}
#u68.e {
}
#u69.e {
}
#u69_img.e {
}
#u70.e {
}
#u71.e {
}
#u71_img.e {
}
#u72.e {
}
#u73.e {
}
#u73_img.e {
}
#u74.e {
}
#u75.e {
  top:176px;
  width:320px;
}
#u75_start.e {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end.e {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line.e {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u76.e {
  left:380px;
  top:10px;
}
#u76_img.e {
}
#u77.e {
}
#u78.e {
  top:140px;
}
#u78_img.e {
}
#u79.e {
}
#u80.e {
  top:139px;
  width:230px;
  height:31px;
}
#u80_img.e {
  width:230px;
  height:31px;
}
#u81.e {
  top:0px;
  width:220px;
}
#u82.e {
  left:220px;
  top:139px;
  width:90px;
}
#u83.e {
}
#u85.e {
  left:502px;
  top:371px;
}
#u85_img.e {
}
#u86.e {
}
#u87.e {
  left:580px;
  top:340px;
}
#u87_img.e {
}
#u88.e {
}
#u89.e {
  top:330px;
  width:277px;
  height:120px;
}
#u89_img.e {
  width:277px;
  height:120px;
}
#u90.e {
  width:277px;
}
#u91.e {
  top:470px;
  width:289px;
  height:80px;
}
#u91_img.e {
  width:289px;
  height:80px;
}
#u92.e {
  width:289px;
}
#u93.e {
  top:860px;
  width:282px;
  height:336px;
}
#u93_img.e {
  width:282px;
  height:336px;
}
#u94.e {
  width:282px;
}
#u95.e {
  top:822px;
  width:289px;
}
#u95_img.e {
  width:289px;
}
#u96.e {
  width:289px;
}
#u97.e {
  top:782px;
  width:278px;
}
#u97_start.e {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end.e {
  position:absolute;
  left:261px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line.e {
  position:absolute;
  left:0px;
  top:5px;
  width:278px;
  height:1px;
}
#u98.e {
  top:696px;
}
#u98_img.e {
}
#u98_img.e.mouseOver {
}
#u99.e {
}
#u100.e {
  top:620px;
}
#u100_img.e {
}
#u101.e {
}
#u102.e {
  top:620px;
}
#u102_img.e {
}
#u103.e {
}
#u104.e {
  top:620px;
}
#u104_img.e {
}
#u105.e {
}
#u106.e {
  position:absolute;
  left:20px;
  top:620px;
  width:40px;
  height:36px;
}
#u106_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u107.e {
  position:absolute;
  left:79px;
  top:620px;
  width:40px;
  height:36px;
}
#u107_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u108.e {
  position:absolute;
  left:138px;
  top:620px;
  width:100px;
  height:36px;
}
#u108_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u109.e {
  position:absolute;
  left:258px;
  top:620px;
  width:40px;
  height:36px;
}
#u109_input.e {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'GDSTransportWebsite', 'GDS Transport Website Light', 'GDS Transport Website';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
