body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:4980px;
  height:2510px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4980px;
  height:2510px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1247px;
  width:4976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:570px;
  width:100px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:180px;
  top:570px;
  width:100px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:340px;
  top:570px;
  width:100px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:500px;
  top:1240px;
  width:100px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:860px;
  top:1240px;
  width:100px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:646px;
  top:1465px;
  width:100px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:500px;
  top:2050px;
  width:100px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:500px;
  top:1753px;
  width:100px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:500px;
  top:2290px;
  width:530px;
  height:220px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:500px;
  top:568px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:874px;
  top:568px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:1530px;
  top:930px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:1670px;
  top:1155px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:1880px;
  top:930px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:2024px;
  top:1155px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:2243px;
  top:1155px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:2450px;
  top:1155px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:2920px;
  top:1505px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:3061px;
  top:1728px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:3260px;
  top:1505px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:3401px;
  top:1728px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:3600px;
  top:1505px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:3830px;
  top:705px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:4258px;
  top:702px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:4258px;
  top:550px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:4258px;
  top:397px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:4258px;
  top:245px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:4540px;
  top:702px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:4710px;
  top:702px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:4880px;
  top:702px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:1530px;
  top:200px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:1880px;
  top:200px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:2243px;
  top:425px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:1671px;
  top:421px;
  width:100px;
  height:125px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:4980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u3.a {
}
#u4.a {
}
#u5.a {
}
#u6.a {
}
#u7.a {
}
#u8.a {
}
#u9.a {
}
#u10.a {
}
#u11.a {
}
#u12.a {
}
#u13.a {
}
#u14.a {
}
#u15.a {
}
#u16.a {
}
#u17.a {
}
#u18.a {
}
#u19.a {
}
#u20.a {
}
#u21.a {
}
#u22.a {
}
#u23.a {
}
#u24.a {
}
#u25.a {
}
#u26.a {
}
#u27.a {
}
#u28.a {
}
#u29.a {
}
#u30.a {
}
#u31.a {
}
#u32.a {
}
#u33.a {
}
#u34.a {
}
#u35.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:4980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u3.b {
}
#u4.b {
}
#u5.b {
}
#u6.b {
}
#u7.b {
}
#u8.b {
}
#u9.b {
}
#u10.b {
}
#u11.b {
}
#u12.b {
}
#u13.b {
}
#u14.b {
}
#u15.b {
}
#u16.b {
}
#u17.b {
}
#u18.b {
}
#u19.b {
}
#u20.b {
}
#u21.b {
}
#u22.b {
}
#u23.b {
}
#u24.b {
}
#u25.b {
}
#u26.b {
}
#u27.b {
}
#u28.b {
}
#u29.b {
}
#u30.b {
}
#u31.b {
}
#u32.b {
}
#u33.b {
}
#u34.b {
}
#u35.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:4980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
}
#u2.c {
}
#u3.c {
}
#u4.c {
}
#u5.c {
}
#u6.c {
}
#u7.c {
}
#u8.c {
}
#u9.c {
}
#u10.c {
}
#u11.c {
}
#u12.c {
}
#u13.c {
}
#u14.c {
}
#u15.c {
}
#u16.c {
}
#u17.c {
}
#u18.c {
}
#u19.c {
}
#u20.c {
}
#u21.c {
}
#u22.c {
}
#u23.c {
}
#u24.c {
}
#u25.c {
}
#u26.c {
}
#u27.c {
}
#u28.c {
}
#u29.c {
}
#u30.c {
}
#u31.c {
}
#u32.c {
}
#u33.c {
}
#u34.c {
}
#u35.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:4980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
}
#u2.d {
}
#u3.d {
}
#u4.d {
}
#u5.d {
}
#u6.d {
}
#u7.d {
}
#u8.d {
}
#u9.d {
}
#u10.d {
}
#u11.d {
}
#u12.d {
}
#u13.d {
}
#u14.d {
}
#u15.d {
}
#u16.d {
}
#u17.d {
}
#u18.d {
}
#u19.d {
}
#u20.d {
}
#u21.d {
}
#u22.d {
}
#u23.d {
}
#u24.d {
}
#u25.d {
}
#u26.d {
}
#u27.d {
}
#u28.d {
}
#u29.d {
}
#u30.d {
}
#u31.d {
}
#u32.d {
}
#u33.d {
}
#u34.d {
}
#u35.d {
}
